•	Total older adult (60+ if possible) population in the 13-county region in 2010  
•	Total older adult (60+ if possible) population in the 13-county region in 2020  
•	Total disabled population in the 13-county region in 2010  
•	Total disabled population in the 13-county region in 2020

In [1]:
#imports
import pandas as pd
import numpy as np
import matplotlib as mpl
from matplotlib import rcParams
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
from matplotlib import cycler
from matplotlib.ticker import StrMethodFormatter
from matplotlib.axis import Axis
from matplotlib.patches import FancyBboxPatch
from matplotlib.font_manager import FontProperties
import sqlite3 as sq
from functools import reduce
#settings
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.width', 150)
pd.options.mode.chained_assignment = None  # default='warn'
from warnings import simplefilter
simplefilter(action="ignore", category=pd.errors.PerformanceWarning)
import sys
sys.path.append("../../") # Adds higher directory to python modules path

In [12]:
conn = sq.connect('../GNRC-Data-Pipelines/Outputs/CensusBureau.db')
#2010 Decennial and ACS5
sql_query = pd.read_sql('SELECT * FROM [CensusBureau_ACS5_2010]', conn)
ACS52010 = pd.DataFrame(sql_query)
ACS52010.drop(columns = 'Source', inplace = True)
#PL2020
sql_query = pd.read_sql('SELECT * FROM [CensusBureau_SF1_2010]', conn)
DEC2010 = pd.DataFrame(sql_query)
DEC2010.drop(columns = 'Source', inplace = True)
#2020PL and 2021 ACS5
sql_query = pd.read_sql('SELECT * FROM [CensusBureau_ACS5_2021]', conn)
ACS52021 = pd.DataFrame(sql_query)
ACS52021.drop(columns = 'Source', inplace = True)
#PL2020
sql_query = pd.read_sql('SELECT * FROM [CensusBureau_PL_2020]', conn)
PL2020 = pd.DataFrame(sql_query)
PL2020.drop(columns = 'Source', inplace = True)

In [13]:
cols = ['Age:55 and Older', 'Age%:55 and Older', 'Age:65 and Older', 'Age%:65 and Older', 'Disability:With Disability', 'Disability%:With Disability']

In [14]:
DEC2010 = DEC2010.loc[DEC2010['NAME'] == 'GNRC']
DEC2010 = DEC2010[['Age:55 and Older', 'Age%:55 and Older', 'Age:65 and Older', 'Age%:65 and Older']]
DEC2010

    Age:55 and Older  Age%:55 and Older  Age:65 and Older  Age%:65 and Older
75          367968.0          21.360603          179332.0          10.410252

In [15]:
ACS52021 = ACS52021.loc[ACS52021['NAME'] == 'GNRC']
ACS52021 = ACS52021[['Age:55 and Older', 'Age%:55 and Older', 'Age:65 and Older', 'Age%:65 and Older', 'Disability:With Disability', 'Disability%:With Disability']]
ACS52021

     Age:55 and Older  Age%:55 and Older  Age:65 and Older  Age%:65 and Older  Disability:With Disability  Disability%:With Disability
274          509632.0          24.741339          263074.0          12.771574                    241387.0                    11.889995