###### Imports and Settings

In [5]:
import pandas as pd
import numpy as np
import requests
import pickle
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.width', 150)

# Age Well  

The following code outlines data collection, formatting, cleaning, and calculations for a data request for Age Well Tennessee.  

The following data is collected:  
+ total population 65+  
+ income  
+ caregiver for grandkids  
+ own vs rent  
+ cost burden  
+ living alone  
+ educational attainment  
+ poverty  

Most of this was directly requested, but some was added on by research staff as the request asked for other compelling data to make a case for the need for affordable housing for seniors.

In [6]:
with open('api_keys.pkl', 'rb') as keys_file:
        keys_dict_2 = pickle.load(keys_file)

In [7]:
#create a variable that contains your api key
api_key = keys_dict_2['CENSUS']

In [8]:
REGION = ['161', #Stewart
       '125', #Montgomery
       '083', #Houston
       '085', #Humphreys
       '043', #Dickson
       '021', #Cheatham
       '147', #Robertson
       '165', #Sumner
       '037', #Davidson
       '189', #Wilson
       '169', #Trousdale
       '187', #Williamson
       '149', #Rutherford
       '119'] #Maury

## API Calls

ID's 1-47

In [9]:
data_appended = []
for i in REGION:
    url_str= 'https://api.census.gov/data/2020/acs/acs5?key='+api_key
    predicates= {}
    get_vars= ["NAME", "GEO_ID",'B01001_001E','B01001_001E','B01001_020E','B01001_021E','B01001_022E','B01001_023E','B01001_024E','B01001_025E','B01001_044E',
               'B01001_045E','B01001_046E','B01001_047E','B01001_048E','B01001_049E','B17001_001E','B17001_002E','B17001_015E','B17001_016E','B17001_029E',
               'B17001_030E','B15001_001E','B15001_035E','B15001_036E','B15001_037E','B15001_038E','B15001_039E','B15001_040E','B15001_041E','B15001_042E',
               'B15001_076E','B15001_077E','B15001_078E','B15001_079E','B15001_080E','B15001_081E','B15001_082E','B15001_083E','B09020_001E','B09020_001E',
               'B09020_015E','B09020_018E','B10051_001E','B10051_002E','B10051_005E','B25093_001E','B25093_023E','B25093_027E']
    predicates["get"]= ",". join(get_vars)
    predicates["for"]= "county:{}".format(i)
    predicates["in"]= "state:47"
    data= requests.get(url_str, params= predicates)
    col_names = ['County', 'GEOID','pop','agebysex_total_series','age_m_65to66','age_m_67to69','age_m_70to74','age_m_75to79','age_m_80to84','age_m_85+',
                 'age_f_65to66','age_f_67to69','age_f_70to74','age_f_75to79','age_f_80to84','age_f_85+','poverty_total_series','poverty_totalbelowpoverty',
                 'poverty_m65to74','poverty_m75+','poverty_f65to74','poverty_f75+','ed_total_series','ed_m65+','ed_m65+_less9thgrade','ed_m65+9thto12th',
                 'ed_m65+_highschoolgradequivalency','ed_m65+_somecollegenodegree','ed_m65+_associates','ed_m65+_bachelors','ed_m65+_graduateorprofessionaldegree',
                 'ed_f65+','ed_f65+_less9thgrade','ed_f65+9thto12th','ed_f65+_highschoolgradequivalency','ed_f65+_somecollegenodegree','ed_f65+_associates',
                 'ed_f65+_bachelors','ed_f65+_graduateorprofessionaldegree','livealone_total65+_series','livealone_total65+_inhh','livealone_m65+','livealone_f65+',
                 'grandparent_total_responsibilityforgrandchild_series','grandparent_responsibleforgrandchild','grandparent_resposibleforgrandchild_noparent_60+',
                 'housing_total_ownercosts','housing_65+total_ownercosts','housing_65+30to34.9%_ownercosts','StateFIPS','CountyFIPS']
    data=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype = str)
    data['Region'] = '14County'
    data_appended.append(data)
    
data_appended = pd.concat(data_appended)
callone = data_appended.reset_index(drop = True)
print('Your API call is complete')

Your API call is complete

Call Two: ID's 48 - 82 except for 73

In [10]:
data_appended = []
for i in REGION:
    url_str= 'https://api.census.gov/data/2020/acs/acs5?key='+api_key
    predicates= {}
    get_vars= ["NAME","GEO_ID",'B25093_028E','B25072_001E','B25072_023E','B25072_027E','B25072_028E','B19055_001E','B19055_002E','B19055_003E','B19037_053E',
               'B19037_054E',
               'B19037_055E','B19037_056E','B19037_057E','B19037_058E','B19037_059E','B19037_060E','B19037_061E','B19037_062E','B19037_063E','B19037_064E',
               'B19037_065E','B19037_066E','B19037_067E','B19037_068E','B19037_069E','B25007_001E','B25007_002E','B25007_009E','B25007_010E',
               'B25007_011E','B25007_012E','B25007_019E','B25007_020E','B25007_021E']
    predicates["get"]= ",". join(get_vars)
    predicates["for"]= "county:{}".format(i)
    predicates["in"]= "state:47"
    data= requests.get(url_str, params= predicates)
    col_names = ['County', 'GEOID','housing_65+35%ormore_ownercosts','housing_total_grossrent','housing_65+total_grossrent','housing_65+30to34.9%_grossrent',
                 'housing_65+35%ormore_grossrent',
                 'socialsecurityhh_total_series','socialsecurityhh_with','socialsecurityhh_without','hhincome_totalhh65+_series','hhincome_65+_lessthan10000',
                 'hhincome_65+_10000to14999','hhincome_65+_15000to19999','hhincome_65+_20000to24999','hhincome_65+_25000to29999','hhincome_65+_30000to34999',
                 'hhincome_65+_35000to39999','hhincome_65+_40000to44999','hhincome_65+_45000to49999','hhincome_65+_50000to59999','hhincome_65+_60000to74999',
                 'hhincome_65+_75000to99999','hhincome_65+_100000to124999','hhincome_65+_125000to149999','hhincome_65+_150000to199999','hhincome_65+_200000+',
                 'tenure_total_agehh_series','tenure_allowneroccupied','tenure_owner_65to74','tenure_owner_75to84','tenure_owner_85+',
                 'tenure_allrenteroccupied','tenure_renter_65to74','tenure_renter_75to84','tenure_renter_85+','StateFIPS','CountyFIPS']
    data=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype = str)
    data['Region'] = '14County'
    data_appended.append(data)
    
data_appended = pd.concat(data_appended)
calltwo = data_appended.reset_index(drop = True)
print('Your API call is complete')

Your API call is complete

ID 73 Median Alone

In [139]:
data_appended = []
for i in REGION:
    url_str= 'https://api.census.gov/data/2020/acs/acs5?key='+api_key
    predicates= {}
    get_vars= ["NAME","GEO_ID",'B19049_005E']
    predicates["get"]= ",". join(get_vars)
    predicates["for"]= "county:{}".format(i)
    predicates["in"]= "state:47"
    data= requests.get(url_str, params= predicates)
    col_names = ['County', 'GEOID','hhincome_65+_median','StateFIPS','CountyFIPS']
    data=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype = str)
    data['Region'] = '14County'
    data_appended.append(data)
    
data_appended = pd.concat(data_appended)
callthree = data_appended.reset_index(drop = True)
print('Your API call is complete')

Your API call is complete

## Median HH Income 65+ Alone

In [237]:
callthree.head(15)

                          County           GEOID hhincome_65+_median StateFIPS CountyFIPS    Region
0      Stewart County, Tennessee  0500000US47161               40956        47        161  14County
1   Montgomery County, Tennessee  0500000US47125               44792        47        125  14County
2      Houston County, Tennessee  0500000US47083               37872        47        083  14County
3    Humphreys County, Tennessee  0500000US47085               40319        47        085  14County
4      Dickson County, Tennessee  0500000US47043               39975        47        043  14County
5     Cheatham County, Tennessee  0500000US47021               42125        47        021  14County
6    Robertson County, Tennessee  0500000US47147               43444        47        147  14County
7       Sumner County, Tennessee  0500000US47165               49443        47        165  14County
8     Davidson County, Tennessee  0500000US47037               49128        47        037  14County
9       Wilson County, Tennessee  0500000US47189               51544        47        189  14County
10   Trousdale County, Tennessee  0500000US47169               42530        47        169  14County
11  Williamson County, Tennessee  0500000US47187               70350        47        187  14County
12  Rutherford County, Tennessee  0500000US47149               51116        47        149  14County
13       Maury County, Tennessee  0500000US47119               40857        47        119  14County

# Merge and Prep the Rest of Database

In [141]:
callone = callone.drop(columns = ['StateFIPS','CountyFIPS','Region'])

In [142]:
calltwo = calltwo.drop(columns = ['County'])

In [186]:
data = callone.merge(calltwo, on = 'GEOID')

In [187]:
data.head()

,County,GEOID,pop,agebysex_total_series,age_m_65to66,age_m_67to69,age_m_70to74,age_m_75to79,age_m_80to84,age_m_85+,age_f_65to66,age_f_67to69,age_f_70to74,age_f_75to79,age_f_80to84,age_f_85+,poverty_total_series,poverty_totalbelowpoverty,poverty_m65to74,poverty_m75+,poverty_f65to74,poverty_f75+,ed_total_series,ed_m65+,ed_m65+_less9thgrade,ed_m65+9thto12th,ed_m65+_highschoolgradequivalency,ed_m65+_somecollegenodegree,ed_m65+_associates,ed_m65+_bachelors,ed_m65+_graduateorprofessionaldegree,ed_f65+,ed_f65+_less9thgrade,ed_f65+9thto12th,ed_f65+_highschoolgradequivalency,ed_f65+_somecollegenodegree,ed_f65+_associates,ed_f65+_bachelors,ed_f65+_graduateorprofessionaldegree,livealone_total65+_series,livealone_total65+_inhh,livealone_m65+,livealone_f65+,grandparent_total_responsibilityforgrandchild_series,grandparent_responsibleforgrandchild,grandparent_resposibleforgrandchild_noparent_60+,housing_total_ownercosts,housing_65+total_ownercosts,housing_65+30to34.9%_ownercosts,housing_65+35%ormore_ownercosts,housing_total_grossrent,housing_65+total_grossrent,housing_65+30to34.9%_grossrent,housing_65+35%ormore_grossrent,socialsecurityhh_total_series,socialsecurityhh_with,socialsecurityhh_without,hhincome_totalhh65+_series,hhincome_65+_lessthan10000,hhincome_65+_10000to14999,hhincome_65+_15000to19999,hhincome_65+_20000to24999,hhincome_65+_25000to29999,hhincome_65+_30000to34999,hhincome_65+_35000to39999,hhincome_65+_40000to44999,hhincome_65+_45000to49999,hhincome_65+_50000to59999,hhincome_65+_60000to74999,hhincome_65+_75000to99999,hhincome_65+_100000to124999,hhincome_65+_125000to149999,hhincome_65+_150000to199999,hhincome_65+_200000+,tenure_total_agehh_series,tenure_allowneroccupied,tenure_owner_65to74,tenure_owner_75to84,tenure_owner_85+,tenure_allrenteroccupied,tenure_renter_65to74,tenure_renter_75to84,tenure_renter_85+,StateFIPS,CountyFIPS,Region
0,"Stewart County, Tennessee",0500000US47161,13553,13553,209,272,291,191,113,129,222,247,345,289,250,120,13336,1772,56,16,76,89,10673,1205,39,94,579,260,68,113,52,1473,48,222,697,170,69,63,204,2678,2678,226,568,346,101,81,3953,1515,27,224,1273,277,35,43,5226,2508,2718,1792,99,42,149,172,102,155,138,166,182,90,152,225,13,29,56,22,5226,3953,907,443,165,1273,123,146,8,47,161,14County
1,"Montgomery County, Tennessee",0500000US47125,204992,204992,1684,1912,1930,1315,866,733,2069,1672,2656,1754,1130,1344,200387,24675,357,123,455,378,150053,8440,457,320,2442,1742,874,1593,1012,10625,648,1123,3826,2074,727,1146,1081,19065,19065,1586,3164,4285,1800,213,45436,9670,400,1477,29170,2049,84,992,74606,17022,57584,11719,494,656,846,761,1089,744,533,761,539,973,945,1533,682,455,367,341,74606,45436,5815,2714,1141,29170,1244,427,378,47,125,14County
2,"Houston County, Tennessee",0500000US47083,8201,8201,73,169,237,164,54,67,89,176,240,192,153,78,7865,1166,66,14,71,68,6420,764,83,102,378,87,9,76,29,928,68,120,423,160,25,39,93,1692,1692,157,289,203,108,5,2322,851,23,162,597,130,10,38,2919,1203,1716,981,86,79,145,44,81,39,48,71,56,45,30,153,29,0,54,21,2919,2322,414,354,83,597,89,38,3,47,083,14County
3,"Humphreys County, Tennessee",0500000US47085,18528,18528,198,284,502,398,177,60,417,275,394,509,211,168,18067,2803,42,44,93,189,14524,1619,132,248,775,186,42,131,105,1974,71,267,854,336,56,225,165,3593,3593,235,758,416,181,26,5389,2048,72,336,1480,312,0,122,6869,2998,3871,2360,143,261,114,121,75,260,194,139,195,243,162,208,107,54,48,36,6869,5389,1144,774,130,1480,193,50,69,47,085,14County
4,"Dickson County, Tennessee",0500000US47043,53289,53289,615,768,1056,667,460,249,745,887,1139,762,524,641,52660,6278,111,159,309,291,41010,3815,496,354,1633,581,108,339,304,4698,424,690,2204,645,193,339,203,8513,8513,763,1363,1144,445,112,14891,4349,219,460,4668,879,164,210,19559,6818,12741,5228,243,412,463,283,393,310,513,291,241,502,518,412,302,76,96,173,19559,14891,2669,1269,411,4668,569,190,120,47,043,14County

convert datatypes to integers

In [188]:
cols = ['pop','agebysex_total_series','age_m_65to66','age_m_67to69','age_m_70to74','age_m_75to79','age_m_80to84','age_m_85+',
        'age_f_65to66','age_f_67to69','age_f_70to74','age_f_75to79','age_f_80to84','age_f_85+','poverty_total_series','poverty_totalbelowpoverty',
        'poverty_m65to74','poverty_m75+','poverty_f65to74','poverty_f75+','ed_total_series','ed_m65+','ed_m65+_less9thgrade','ed_m65+9thto12th',
        'ed_m65+_highschoolgradequivalency','ed_m65+_somecollegenodegree','ed_m65+_associates','ed_m65+_bachelors','ed_m65+_graduateorprofessionaldegree',
        'ed_f65+','ed_f65+_less9thgrade','ed_f65+9thto12th','ed_f65+_highschoolgradequivalency','ed_f65+_somecollegenodegree','ed_f65+_associates',
        'ed_f65+_bachelors','ed_f65+_graduateorprofessionaldegree','livealone_total65+_series','livealone_total65+_inhh','livealone_m65+','livealone_f65+',
        'grandparent_total_responsibilityforgrandchild_series','grandparent_responsibleforgrandchild','grandparent_resposibleforgrandchild_noparent_60+',
        'housing_total_ownercosts','housing_65+total_ownercosts','housing_65+30to34.9%_ownercosts','housing_65+35%ormore_ownercosts','housing_total_grossrent','housing_65+total_grossrent',
        'housing_65+30to34.9%_grossrent','housing_65+35%ormore_grossrent','socialsecurityhh_total_series','socialsecurityhh_with','socialsecurityhh_without',
        'hhincome_totalhh65+_series','hhincome_65+_lessthan10000','hhincome_65+_10000to14999','hhincome_65+_15000to19999','hhincome_65+_20000to24999',
        'hhincome_65+_25000to29999','hhincome_65+_30000to34999','hhincome_65+_35000to39999','hhincome_65+_40000to44999','hhincome_65+_45000to49999',
        'hhincome_65+_50000to59999','hhincome_65+_60000to74999','hhincome_65+_75000to99999','hhincome_65+_100000to124999','hhincome_65+_125000to149999',
        'hhincome_65+_150000to199999','hhincome_65+_200000+','tenure_total_agehh_series','tenure_allowneroccupied','tenure_owner_65to74','tenure_owner_75to84',
        'tenure_owner_85+','tenure_allrenteroccupied','tenure_renter_65to74','tenure_renter_75to84','tenure_renter_85+']
data[cols] = data[cols].astype(int)

groupby for total region

In [189]:
region = data[['pop','agebysex_total_series','age_m_65to66','age_m_67to69','age_m_70to74','age_m_75to79','age_m_80to84','age_m_85+',
        'age_f_65to66','age_f_67to69','age_f_70to74','age_f_75to79','age_f_80to84','age_f_85+','poverty_total_series','poverty_totalbelowpoverty',
        'poverty_m65to74','poverty_m75+','poverty_f65to74','poverty_f75+','ed_total_series','ed_m65+','ed_m65+_less9thgrade','ed_m65+9thto12th',
        'ed_m65+_highschoolgradequivalency','ed_m65+_somecollegenodegree','ed_m65+_associates','ed_m65+_bachelors','ed_m65+_graduateorprofessionaldegree',
        'ed_f65+','ed_f65+_less9thgrade','ed_f65+9thto12th','ed_f65+_highschoolgradequivalency','ed_f65+_somecollegenodegree','ed_f65+_associates',
        'ed_f65+_bachelors','ed_f65+_graduateorprofessionaldegree','livealone_total65+_series','livealone_total65+_inhh','livealone_m65+','livealone_f65+',
        'grandparent_total_responsibilityforgrandchild_series','grandparent_responsibleforgrandchild','grandparent_resposibleforgrandchild_noparent_60+',
        'housing_total_ownercosts','housing_65+total_ownercosts','housing_65+30to34.9%_ownercosts','housing_65+35%ormore_ownercosts','housing_total_grossrent','housing_65+total_grossrent',
        'housing_65+30to34.9%_grossrent','housing_65+35%ormore_grossrent','socialsecurityhh_total_series','socialsecurityhh_with','socialsecurityhh_without',
        'hhincome_totalhh65+_series','hhincome_65+_lessthan10000','hhincome_65+_10000to14999','hhincome_65+_15000to19999','hhincome_65+_20000to24999',
        'hhincome_65+_25000to29999','hhincome_65+_30000to34999','hhincome_65+_35000to39999','hhincome_65+_40000to44999','hhincome_65+_45000to49999',
        'hhincome_65+_50000to59999','hhincome_65+_60000to74999','hhincome_65+_75000to99999','hhincome_65+_100000to124999','hhincome_65+_125000to149999',
        'hhincome_65+_150000to199999','hhincome_65+_200000+','tenure_total_agehh_series','tenure_allowneroccupied','tenure_owner_65to74','tenure_owner_75to84',
        'tenure_owner_85+','tenure_allrenteroccupied','tenure_renter_65to74','tenure_renter_75to84','tenure_renter_85+','Region']].groupby('Region').sum()

In [190]:
region = region.reset_index()

In [191]:
region

,Region,pop,agebysex_total_series,age_m_65to66,age_m_67to69,age_m_70to74,age_m_75to79,age_m_80to84,age_m_85+,age_f_65to66,age_f_67to69,age_f_70to74,age_f_75to79,age_f_80to84,age_f_85+,poverty_total_series,poverty_totalbelowpoverty,poverty_m65to74,poverty_m75+,poverty_f65to74,poverty_f75+,ed_total_series,ed_m65+,ed_m65+_less9thgrade,ed_m65+9thto12th,ed_m65+_highschoolgradequivalency,ed_m65+_somecollegenodegree,ed_m65+_associates,ed_m65+_bachelors,ed_m65+_graduateorprofessionaldegree,ed_f65+,ed_f65+_less9thgrade,ed_f65+9thto12th,ed_f65+_highschoolgradequivalency,ed_f65+_somecollegenodegree,ed_f65+_associates,ed_f65+_bachelors,ed_f65+_graduateorprofessionaldegree,livealone_total65+_series,livealone_total65+_inhh,livealone_m65+,livealone_f65+,grandparent_total_responsibilityforgrandchild_series,grandparent_responsibleforgrandchild,grandparent_resposibleforgrandchild_noparent_60+,housing_total_ownercosts,housing_65+total_ownercosts,housing_65+30to34.9%_ownercosts,housing_65+35%ormore_ownercosts,housing_total_grossrent,housing_65+total_grossrent,housing_65+30to34.9%_grossrent,housing_65+35%ormore_grossrent,socialsecurityhh_total_series,socialsecurityhh_with,socialsecurityhh_without,hhincome_totalhh65+_series,hhincome_65+_lessthan10000,hhincome_65+_10000to14999,hhincome_65+_15000to19999,hhincome_65+_20000to24999,hhincome_65+_25000to29999,hhincome_65+_30000to34999,hhincome_65+_35000to39999,hhincome_65+_40000to44999,hhincome_65+_45000to49999,hhincome_65+_50000to59999,hhincome_65+_60000to74999,hhincome_65+_75000to99999,hhincome_65+_100000to124999,hhincome_65+_125000to149999,hhincome_65+_150000to199999,hhincome_65+_200000+,tenure_total_agehh_series,tenure_allowneroccupied,tenure_owner_65to74,tenure_owner_75to84,tenure_owner_85+,tenure_allrenteroccupied,tenure_renter_65to74,tenure_renter_75to84,tenure_renter_85+
0,14County,2090952,2090952,20309,25712,30994,20455,12123,9129,23385,28401,37669,26421,16941,18471,2047989,226988,4375,2595,7291,6438,1601026,118722,6875,8367,32644,23458,6789,23524,17065,151288,7357,13335,53526,31407,9077,21034,15552,270010,270010,21089,48026,40851,16839,2967,517790,135808,6986,23692,276872,30704,2777,12711,794662,208433,586229,166512,8976,8954,10754,9214,9811,9613,9104,9010,8049,14114,17192,19558,10788,6521,6129,8725,794662,517790,83893,39704,12211,276872,17704,8157,4843

Recreate lost columns to join back onto df

In [192]:
region['County'] = 'All'
region['GEOID'] = 'NA'
region['StateFIPS'] = '47'
region['CountyFIPS'] = 'NA'

## Concatonate region back on

In [193]:
dfs = [data, region]
data = pd.concat(dfs).reset_index(drop = True)

In [194]:
data.tail()

,County,GEOID,pop,agebysex_total_series,age_m_65to66,age_m_67to69,age_m_70to74,age_m_75to79,age_m_80to84,age_m_85+,age_f_65to66,age_f_67to69,age_f_70to74,age_f_75to79,age_f_80to84,age_f_85+,poverty_total_series,poverty_totalbelowpoverty,poverty_m65to74,poverty_m75+,poverty_f65to74,poverty_f75+,ed_total_series,ed_m65+,ed_m65+_less9thgrade,ed_m65+9thto12th,ed_m65+_highschoolgradequivalency,ed_m65+_somecollegenodegree,ed_m65+_associates,ed_m65+_bachelors,ed_m65+_graduateorprofessionaldegree,ed_f65+,ed_f65+_less9thgrade,ed_f65+9thto12th,ed_f65+_highschoolgradequivalency,ed_f65+_somecollegenodegree,ed_f65+_associates,ed_f65+_bachelors,ed_f65+_graduateorprofessionaldegree,livealone_total65+_series,livealone_total65+_inhh,livealone_m65+,livealone_f65+,grandparent_total_responsibilityforgrandchild_series,grandparent_responsibleforgrandchild,grandparent_resposibleforgrandchild_noparent_60+,housing_total_ownercosts,housing_65+total_ownercosts,housing_65+30to34.9%_ownercosts,housing_65+35%ormore_ownercosts,housing_total_grossrent,housing_65+total_grossrent,housing_65+30to34.9%_grossrent,housing_65+35%ormore_grossrent,socialsecurityhh_total_series,socialsecurityhh_with,socialsecurityhh_without,hhincome_totalhh65+_series,hhincome_65+_lessthan10000,hhincome_65+_10000to14999,hhincome_65+_15000to19999,hhincome_65+_20000to24999,hhincome_65+_25000to29999,hhincome_65+_30000to34999,hhincome_65+_35000to39999,hhincome_65+_40000to44999,hhincome_65+_45000to49999,hhincome_65+_50000to59999,hhincome_65+_60000to74999,hhincome_65+_75000to99999,hhincome_65+_100000to124999,hhincome_65+_125000to149999,hhincome_65+_150000to199999,hhincome_65+_200000+,tenure_total_agehh_series,tenure_allowneroccupied,tenure_owner_65to74,tenure_owner_75to84,tenure_owner_85+,tenure_allrenteroccupied,tenure_renter_65to74,tenure_renter_75to84,tenure_renter_85+,StateFIPS,CountyFIPS,Region
10,"Trousdale County, Tennessee",0500000US47169,10910,10910,143,113,165,155,23,24,161,151,182,125,164,48,9375,918,0,99,24,128,8917,623,85,32,275,81,54,27,69,831,17,260,295,148,91,12,8,1454,1454,111,288,330,139,0,2532,892,45,308,866,58,19,10,3398,1189,2209,950,11,162,119,71,77,20,0,97,15,105,124,50,35,17,32,15,3398,2532,543,334,15,866,45,0,13,47,169,14County
11,"Williamson County, Tennessee",0500000US47187,232380,232380,2259,3016,3778,1950,1919,1071,2562,2925,4457,3113,1924,1603,231518,10768,147,287,290,565,169365,13993,419,379,1748,2349,738,4614,3746,16584,279,978,3941,3568,1608,3861,2349,30577,30577,1653,4617,2568,774,324,64377,15827,684,2610,16664,1991,184,1050,81041,19986,61055,17818,679,331,585,557,418,637,997,574,822,1870,2124,2094,1477,1244,1094,2315,81041,64377,10436,4348,1043,16664,626,746,619,47,187,14County
12,"Rutherford County, Tennessee",0500000US47149,324139,324139,2739,3316,3684,2688,1316,1227,2658,3906,5067,3530,1952,1980,318630,32953,432,318,955,559,244262,14970,877,1014,4118,3294,825,2924,1918,19093,854,1422,7290,4493,1367,2038,1629,34063,34063,2160,5309,5623,1601,228,75174,16455,828,2711,40075,3573,286,1397,115249,26726,88523,20028,912,1074,1226,1002,1383,686,1020,1498,1026,1878,2186,2190,1610,798,710,829,115249,75174,10444,4694,1317,40075,2121,1026,426,47,149,14County
13,"Maury County, Tennessee",0500000US47119,94615,94615,1065,1324,1962,1030,891,391,1062,1491,2619,1298,956,1245,93289,8414,233,141,310,339,72605,6663,270,510,2283,1624,517,834,625,8671,670,963,3589,1422,593,821,613,15334,15334,1098,2494,1941,809,98,25245,7623,428,1414,9918,1366,128,500,35163,11446,23717,8989,314,641,759,832,761,597,525,352,468,683,824,976,513,213,252,279,35163,25245,4722,2110,791,9918,952,282,132,47,119,14County
14,All,NA,2090952,2090952,20309,25712,30994,20455,12123,9129,23385,28401,37669,26421,16941,18471,2047989,226988,4375,2595,7291,6438,1601026,118722,6875,8367,32644,23458,6789,23524,17065,151288,7357,13335,53526,31407,9077,21034,15552,270010,270010,21089,48026,40851,16839,2967,517790,135808,6986,23692,276872,30704,2777,12711,794662,208433,586229,166512,8976,8954,10754,9214,9811,9613,9104,9010,8049,14114,17192,19558,10788,6521,6129,8725,794662,517790,83893,39704,12211,276872,17704,8157,4843,47,NA,14County

# Calculations

In [195]:
#set cols to float
data[cols] = data[cols].astype(float)

## Age

Add Groups

In [196]:
data = data.copy()
data['total65+'] = data['age_m_65to66']+data['age_m_67to69']+data['age_m_70to74']+data['age_m_75to79']+data['age_m_80to84']+data['age_m_85+']+data['age_f_65to66']+data['age_f_67to69']+data['age_f_70to74']+data['age_f_75to79']+data['age_f_80to84']+data['age_f_85+']

Calculate Percentages

In [197]:
data['%65+'] = round((data['total65+'])*100/data['agebysex_total_series'],2)

Drop Input Columns

In [198]:
data = data.drop(columns = ['agebysex_total_series','age_m_65to66','age_m_67to69','age_m_70to74',
                            'age_m_75to79','age_m_80to84','age_m_85+','age_f_65to66',
                            'age_f_67to69','age_f_70to74','age_f_75to79','age_f_80to84','age_f_85+'])

## Poverty

Add Groups

In [199]:
data['poverty65+'] = data['poverty_m65to74']+data['poverty_m75+']+data['poverty_f65to74']+data['poverty_f75+']

Calculate Percentages

In [200]:
data['inpoverty65+_%ofbelowpovertylevelpopulation'] = round((data['poverty65+'])*100/data['poverty_totalbelowpoverty'],2)
data['%inpoverty65+'] = round((data['poverty65+'])*100/data['total65+'],2)

Drop Input Columns

In [201]:
data = data.drop(columns = ['poverty_total_series','poverty_totalbelowpoverty','poverty_m65to74','poverty_m75+',
                            'poverty_f65to74','poverty_f75+'])

## Educational Attainment

Add Groups

In [202]:
data['edattainment_65+_total'] = data['ed_m65+']+data['ed_f65+']
data['edattainment_65+_lessthan9thgrade'] = data['ed_m65+_less9thgrade']+data['ed_f65+_less9thgrade']
data['edattainment_65+_9thto12thnodiploma'] = data['ed_m65+9thto12th']+data['ed_f65+9thto12th']
data['edattainment_65+_hsgradorequivalency'] = data['ed_m65+_highschoolgradequivalency']+data['ed_f65+_highschoolgradequivalency']
data['edattainment_65+_somecollegenodegree'] = data['ed_m65+_somecollegenodegree']+data['ed_f65+_somecollegenodegree']
data['edattainment_65+_associates'] = data['ed_m65+_associates']+data['ed_f65+_associates']
data['edattainment_65+_bachelors'] = data['ed_m65+_bachelors']+data['ed_f65+_bachelors']
data['edattainment_65+_gradorprofessionaldegree'] = data['ed_m65+_graduateorprofessionaldegree']+data['ed_f65+_graduateorprofessionaldegree']

Calculate Percentages

In [203]:
data = data.copy()
data['%65+lessthan9thgrade'] = round((data['edattainment_65+_lessthan9thgrade'])*100/data['edattainment_65+_total'],2)
data['%65+9thto12thnodiploma'] = round((data['edattainment_65+_9thto12thnodiploma'])*100/data['edattainment_65+_total'],2)
data['%65+hsgradorequivalency'] = round((data['edattainment_65+_hsgradorequivalency'])*100/data['edattainment_65+_total'],2)
data['%65+somecollegenodegree'] = round((data['edattainment_65+_somecollegenodegree'])*100/data['edattainment_65+_total'],2)
data['%65+associates'] = round((data['edattainment_65+_associates'])*100/data['edattainment_65+_total'],2)
data['%65+bachelors'] = round((data['edattainment_65+_bachelors'])*100/data['edattainment_65+_total'],2)
data['%65+gradorprofessionaldegree'] = round((data['edattainment_65+_gradorprofessionaldegree'])*100/data['edattainment_65+_total'],2)

Drop Input Columns

In [204]:
data = data.drop(columns = ['ed_total_series','edattainment_65+_total','ed_m65+','ed_m65+_less9thgrade','ed_m65+9thto12th','ed_m65+_highschoolgradequivalency','ed_m65+_somecollegenodegree','ed_m65+_associates',
        'ed_m65+_bachelors','ed_m65+_graduateorprofessionaldegree','ed_f65+','ed_f65+_less9thgrade','ed_f65+9thto12th','ed_f65+_highschoolgradequivalency',
        'ed_f65+_somecollegenodegree','ed_f65+_associates','ed_f65+_bachelors','ed_f65+_graduateorprofessionaldegree'])

## Live Alone

Add Groups

In [205]:
data['livealone_65+'] = data['livealone_m65+']+data['livealone_f65+']

Calculate Percentages

In [206]:
data['%livealone_65+'] = round((data['livealone_65+'])*100/data['total65+'],2)

Drop Input Columns

In [207]:
data = data.drop(columns = ['livealone_total65+_series',
        'livealone_total65+_inhh','livealone_m65+','livealone_f65+'])

## Responsible for Grandchildren No Parent Present

Add Groups

In [208]:
data['grandparent60+_grandchild_noparent'] = data['grandparent_resposibleforgrandchild_noparent_60+']

Drop Input Columns

In [209]:
data = data.drop(columns = ['grandparent_total_responsibilityforgrandchild_series','grandparent_responsibleforgrandchild','grandparent_resposibleforgrandchild_noparent_60+'])

## Housing Burden

Add Groups

In [210]:
data['housingburden_65+'] = data['housing_65+30to34.9%_ownercosts']+data['housing_65+35%ormore_ownercosts']+data['housing_65+30to34.9%_grossrent']+data['housing_65+35%ormore_grossrent']
data['extremehousingburden35%ormore_65+']=data['housing_65+35%ormore_ownercosts']+data['housing_65+35%ormore_grossrent']
data['housingburden_65+_owner'] = data['housing_65+30to34.9%_ownercosts']+data['housing_65+35%ormore_ownercosts']
data['extremehousingburden35%ormore_65+_owner']=data['housing_65+35%ormore_ownercosts']
data['housingburden_65+_renter'] = data['housing_65+30to34.9%_grossrent']+data['housing_65+35%ormore_grossrent']
data['extremehousingburden35%ormore_65+_renter']=data['housing_65+35%ormore_grossrent']

Calculate Percentages

Drop Input Columns

In [212]:
data = data.drop(columns = ['housing_total_ownercosts','housing_65+total_ownercosts','housing_65+30to34.9%_ownercosts',
        'housing_65+35%ormore_ownercosts','housing_total_grossrent','housing_65+total_grossrent','housing_65+30to34.9%_grossrent','housing_65+35%ormore_grossrent'])

## Social Security

Calculate Percentages

In [213]:
data['%hh_withsocialsecurityincome'] = round((data['socialsecurityhh_with'])*100/data['socialsecurityhh_total_series'],2)
data['%hh_withoutsocialsecurityincome'] = round((data['socialsecurityhh_without'])*100/data['socialsecurityhh_total_series'],2)

Drop Input Columns

In [214]:
data = data.drop(columns = ['socialsecurityhh_total_series'])

## Tenure

Add Groups

In [215]:
data['renter_65+'] = data['tenure_renter_65to74']+data['tenure_renter_75to84']+data['tenure_renter_85+']
data['ownerocc_65+'] = data['tenure_owner_65to74']+data['tenure_owner_75to84']+data['tenure_owner_85+']
data['totalhouseholders_65+'] = data['tenure_renter_65to74']+data['tenure_renter_75to84']+data['tenure_renter_85+']+data['tenure_owner_65to74']+data['tenure_owner_75to84']+data['tenure_owner_85+']

In [229]:
data['%65+_housingburdened'] = round((data['housingburden_65+'])*100/data['total65+'],2)
data['%65+_extremehousingburdened'] = round((data['extremehousingburden35%ormore_65+'])*100/data['total65+'],2)
data['%65+_housingburdened_owner'] = round((data['housingburden_65+_owner'])*100/data['ownerocc_65+'],2)
data['%65+_extremehousingburdened_owner'] = round((data['extremehousingburden35%ormore_65+_owner'])*100/data['ownerocc_65+'],2)
data['%65+_housingburdened_renter'] = round((data['housingburden_65+_renter'])*100/data['renter_65+'],2)
data['%65+_extremehousingburdened_renter'] = round((data['extremehousingburden35%ormore_65+_renter'])*100/data['renter_65+'],2)

Calculate Percentages

In [216]:
data['%hh65+_renters'] = round((data['renter_65+'])*100/data['totalhouseholders_65+'],2)
data['%hh65+_ownerocc'] = round((data['ownerocc_65+'])*100/data['totalhouseholders_65+'],2)
data['%allhhrenters_65+'] = round((data['renter_65+'])*100/data['tenure_allrenteroccupied'],2)
data['%allhhownerocc_65+'] = round((data['ownerocc_65+'])*100/data['tenure_allowneroccupied'],2)

Drop Input Columns

In [217]:
data = data.drop(columns = ['tenure_total_agehh_series','tenure_allowneroccupied','tenure_owner_65to74','tenure_owner_75to84','tenure_owner_85+',
                 'tenure_allrenteroccupied','tenure_renter_65to74','tenure_renter_75to84','tenure_renter_85+'])

In [218]:
# 'hhincome_totalhh65+_series','hhincome_65+_lessthan10000',
#                  'hhincome_65+_10000to14999','hhincome_65+_15000to19999','hhincome_65+_20000to24999','hhincome_65+_25000to29999','hhincome_65+_30000to34999',
#                  'hhincome_65+_35000to39999','hhincome_65+_40000to44999','hhincome_65+_45000to49999','hhincome_65+_50000to59999','hhincome_65+_60000to74999',
#                  'hhincome_65+_75000to99999','hhincome_65+_100000to124999','hhincome_65+_125000to149999','hhincome_65+_150000to199999','hhincome_65+_200000+',

## Income

Add Groups

In [219]:
data['hhincome_65+_10000to29999'] = data['hhincome_65+_10000to14999']+data['hhincome_65+_15000to19999']+data['hhincome_65+_20000to24999']+data['hhincome_65+_25000to29999']
data['hhincome_65+_30000to49999']=data['hhincome_65+_30000to34999']+data['hhincome_65+_35000to39999']+data['hhincome_65+_40000to44999']+data['hhincome_65+_45000to49999']
data['hhincome_65+_100000+'] = data['hhincome_65+_100000to124999']+data['hhincome_65+_125000to149999']+data['hhincome_65+_150000to199999']+data['hhincome_65+_200000+']

Calculate Percentages

In [220]:
data['%hh65+_incomelesshthan10000']=round((data['hhincome_65+_lessthan10000'])*100/data['hhincome_totalhh65+_series'],2)
data['%hh65+_income10000to29999']=round((data['hhincome_65+_10000to29999'])*100/data['hhincome_totalhh65+_series'],2)
data['%hh65+_income30000to49999']=round((data['hhincome_65+_30000to49999'])*100/data['hhincome_totalhh65+_series'],2)
data['%hh65+_income50000to59999']=round((data['hhincome_65+_50000to59999'])*100/data['hhincome_totalhh65+_series'],2)
data['%hh65+_income60000to74999']=round((data['hhincome_65+_60000to74999'])*100/data['hhincome_totalhh65+_series'],2)
data['%hh65+_income75000to99999']=round((data['hhincome_65+_75000to99999'])*100/data['hhincome_totalhh65+_series'],2)
data['%hh65+_income100000+']=round((data['hhincome_65+_100000+'])*100/data['hhincome_totalhh65+_series'],2)

Drop Input Columns

In [221]:
data = data.drop(columns = ['hhincome_65+_100000to124999','hhincome_65+_125000to149999','hhincome_65+_150000to199999','hhincome_65+_200000+',
                            'hhincome_totalhh65+_series','hhincome_65+_10000to14999','hhincome_65+_15000to19999','hhincome_65+_20000to24999',
                            'hhincome_65+_25000to29999','hhincome_65+_30000to34999','hhincome_65+_35000to39999','hhincome_65+_40000to44999',
                            'hhincome_65+_45000to49999'])

# Export

In [230]:
data.head()

,County,GEOID,pop,socialsecurityhh_with,socialsecurityhh_without,hhincome_65+_lessthan10000,hhincome_65+_50000to59999,hhincome_65+_60000to74999,hhincome_65+_75000to99999,StateFIPS,CountyFIPS,Region,total65+,%65+,poverty65+,inpoverty65+_%ofbelowpovertylevelpopulation,%inpoverty65+,edattainment_65+_lessthan9thgrade,edattainment_65+_9thto12thnodiploma,edattainment_65+_hsgradorequivalency,edattainment_65+_somecollegenodegree,edattainment_65+_associates,edattainment_65+_bachelors,edattainment_65+_gradorprofessionaldegree,%65+lessthan9thgrade,%65+9thto12thnodiploma,%65+hsgradorequivalency,%65+somecollegenodegree,%65+associates,%65+bachelors,%65+gradorprofessionaldegree,livealone_65+,%livealone_65+,grandparent60+_grandchild_noparent,housingburden_65+,extremehousingburden35%ormore_65+,housingburden_65+_owner,extremehousingburden35%ormore_65+_owner,housingburden_65+_renter,extremehousingburden35%ormore_65+_renter,%65+_housingburdened,%65+_extremehousingburdened,%65+_housingburdened_owner,%65+_extremehousingburdened_owner,%65+_housingburdened_renter,%65+_extremehousingburdened_renter,%hh_withsocialsecurityincome,%hh_withoutsocialsecurityincome,renter_65+,ownerocc_65+,totalhouseholders_65+,%hh65+_renters,%hh65+_ownerocc,%allhhrenters_65+,%allhhownerocc_65+,hhincome_65+_10000to29999,hhincome_65+_30000to49999,hhincome_65+_100000+,%hh65+_incomelesshthan10000,%hh65+_income10000to29999,%hh65+_income30000to49999,%hh65+_income50000to59999,%hh65+_income60000to74999,%hh65+_income75000to99999,%hh65+_income100000+
0,"Stewart County, Tennessee",0500000US47161,13553.0,2508.0,2718.0,99.0,90.0,152.0,225.0,47,161,14County,2678.0,19.76,237.0,13.37,8.85,87.0,316.0,1276.0,430.0,137.0,176.0,256.0,3.25,11.80,47.65,16.06,5.12,6.57,9.56,794.0,29.65,81.0,329.0,267.0,251.0,224.0,78.0,43.0,12.29,9.97,16.57,14.79,28.16,15.52,47.99,52.01,277.0,1515.0,1792.0,15.46,84.54,21.76,38.33,465.0,641.0,120.0,5.52,25.95,35.77,5.02,8.48,12.56,6.70
1,"Montgomery County, Tennessee",0500000US47125,204992.0,17022.0,57584.0,494.0,973.0,945.0,1533.0,47,125,14County,19065.0,9.30,1313.0,5.32,6.89,1105.0,1443.0,6268.0,3816.0,1601.0,2739.0,2093.0,5.80,7.57,32.88,20.02,8.40,14.37,10.98,4750.0,24.91,213.0,2953.0,2469.0,1877.0,1477.0,1076.0,992.0,15.49,12.95,19.41,15.27,52.51,48.41,22.82,77.18,2049.0,9670.0,11719.0,17.48,82.52,7.02,21.28,3352.0,2577.0,1845.0,4.22,28.60,21.99,8.30,8.06,13.08,15.74
2,"Houston County, Tennessee",0500000US47083,8201.0,1203.0,1716.0,86.0,45.0,30.0,153.0,47,083,14County,1692.0,20.63,219.0,18.78,12.94,151.0,222.0,801.0,247.0,34.0,115.0,122.0,8.92,13.12,47.34,14.60,2.01,6.80,7.21,446.0,26.36,5.0,233.0,200.0,185.0,162.0,48.0,38.0,13.77,11.82,21.74,19.04,36.92,29.23,41.21,58.79,130.0,851.0,981.0,13.25,86.75,21.78,36.65,349.0,214.0,104.0,8.77,35.58,21.81,4.59,3.06,15.60,10.60
3,"Humphreys County, Tennessee",0500000US47085,18528.0,2998.0,3871.0,143.0,243.0,162.0,208.0,47,085,14County,3593.0,19.39,368.0,13.13,10.24,203.0,515.0,1629.0,522.0,98.0,356.0,270.0,5.65,14.33,45.34,14.53,2.73,9.91,7.51,993.0,27.64,26.0,530.0,458.0,408.0,336.0,122.0,122.0,14.75,12.75,19.92,16.41,39.10,39.10,43.65,56.35,312.0,2048.0,2360.0,13.22,86.78,21.08,38.00,571.0,788.0,245.0,6.06,24.19,33.39,10.30,6.86,8.81,10.38
4,"Dickson County, Tennessee",0500000US47043,53289.0,6818.0,12741.0,243.0,502.0,518.0,412.0,47,043,14County,8513.0,15.98,870.0,13.86,10.22,920.0,1044.0,3837.0,1226.0,301.0,678.0,507.0,10.81,12.26,45.07,14.40,3.54,7.96,5.96,2126.0,24.97,112.0,1053.0,670.0,679.0,460.0,374.0,210.0,12.37,7.87,15.61,10.58,42.55,23.89,34.86,65.14,879.0,4349.0,5228.0,16.81,83.19,18.83,29.21,1551.0,1355.0,647.0,4.65,29.67,25.92,9.60,9.91,7.88,12.38

In [231]:
transp = data.transpose()

In [232]:
transp.columns = transp.iloc[0]

In [233]:
transp.head()

County,"Stewart County, Tennessee","Montgomery County, Tennessee","Houston County, Tennessee","Humphreys County, Tennessee","Dickson County, Tennessee","Cheatham County, Tennessee","Robertson County, Tennessee","Sumner County, Tennessee","Davidson County, Tennessee","Wilson County, Tennessee","Trousdale County, Tennessee","Williamson County, Tennessee","Rutherford County, Tennessee","Maury County, Tennessee",All
County,"Stewart County, Tennessee","Montgomery County, Tennessee","Houston County, Tennessee","Humphreys County, Tennessee","Dickson County, Tennessee","Cheatham County, Tennessee","Robertson County, Tennessee","Sumner County, Tennessee","Davidson County, Tennessee","Wilson County, Tennessee","Trousdale County, Tennessee","Williamson County, Tennessee","Rutherford County, Tennessee","Maury County, Tennessee",All
GEOID,0500000US47161,0500000US47125,0500000US47083,0500000US47085,0500000US47043,0500000US47021,0500000US47147,0500000US47165,0500000US47037,0500000US47189,0500000US47169,0500000US47187,0500000US47149,0500000US47119,NA
pop,13553.0,204992.0,8201.0,18528.0,53289.0,40539.0,70982.0,187680.0,690540.0,140604.0,10910.0,232380.0,324139.0,94615.0,2090952.0
socialsecurityhh_with,2508.0,17022.0,1203.0,2998.0,6818.0,4981.0,8296.0,22148.0,67064.0,16048.0,1189.0,19986.0,26726.0,11446.0,208433.0
socialsecurityhh_without,2718.0,57584.0,1716.0,3871.0,12741.0,10336.0,17826.0,46506.0,222127.0,35300.0,2209.0,61055.0,88523.0,23717.0,586229.0

In [234]:
transp = transp.loc[transp['Stewart County, Tennessee'] != 'Stewart County, Tennessee']

In [235]:
transp = transp.loc[transp['Stewart County, Tennessee'] != 'Stewart County, Tennessee']

In [236]:
#write to csv
transp.to_csv('../data/agewellhousing.csv')