###### Imports and Settings

In [5]:
import pandas as pd
import numpy as np
import requests
import pickle

# Foreign born Population by Place of Birth for the GNRC Senior Centers

This data is not available on MySidewalk, where these senior center profiles are hosted. This notebook contains the API pulls and the data cleaning process necessary to include this as outside data in these profiles.

In [2]:
GNRC = ['161', #Stewart
       '125', #Montgomery
       '083', #Houston
       '085', #Humphreys
       '043', #Dickson
       '021', #Cheatham
       '147', #Robertson
       '165', #Sumner
       '037', #Davidson
       '189', #Wilson
       '169', #Trousdale
       '187', #Williamson
       '149'] #Rutherford

In [7]:
#to read in... rb is read bite
with open('api_keys.pkl', 'rb') as keys_file:
        keys_dict_2 = pickle.load(keys_file)

In [8]:
#create a variable that contains your api key
api_key_census = keys_dict_2['CENSUS']

Maybe this series: B05002_021E
place of birth by nativity and citizenship status - Europe, Asia, Africa, Oceania, Latin America, Northern America - NO AGE

Maybe this series: B05006_001E
place of birth for the foreign-born population in the US

Yes - place of birth for the foreign-born population in the US, then in MySidewalk can do foreign-born population by age... although the age groups are inconsistent so might pull that from ACS as well to keep with 65+.

In [58]:
#'B05006_001E' - 'B05006_049E', total - eastern asia total
data_appended = []
for i in GNRC:
    url_str= 'https://api.census.gov/data/2020/acs/acs5?key='+api_key_census
    predicates= {}
    get_vars= ["NAME", "GEO_ID",'B05006_001E','B05006_002E','B05006_003E','B05006_004E',
              'B05006_005E','B05006_006E','B05006_007E','B05006_008E',
              'B05006_009E','B05006_010E','B05006_011E','B05006_012E',
              'B05006_013E','B05006_014E','B05006_015E','B05006_016E',
              'B05006_017E','B05006_018E','B05006_019E','B05006_020E',
              'B05006_021E','B05006_022E','B05006_023E','B05006_024E',
              'B05006_025E','B05006_026E','B05006_027E','B05006_028E',
              'B05006_029E','B05006_030E','B05006_031E','B05006_032E',
              'B05006_033E','B05006_034E','B05006_035E','B05006_036E',
              'B05006_037E','B05006_038E','B05006_039E','B05006_040E',
              'B05006_041E','B05006_042E','B05006_043E','B05006_044E',
              'B05006_045E','B05006_046E','B05006_047E','B05006_048E']
    predicates["get"]= ",". join(get_vars)
    predicates["for"]= "county:{}".format(i)
    predicates["in"]= "state:47"
    data= requests.get(url_str, params= predicates)
    col_names = ['County', 'GEOID','total','total_europe','eur_northerneurope','eur_n_ireland',
                 'eur_n_denmark','eur_n_norway','eur_n_sweden','eur_n_UKwcrowndepend',
                 'eur_n_UKnoEnglandScotland','eur_n_england','eur_n_scotland',
                 'eur_n_other','eur_westerneurope','eur_w_austria','eur_w_belgium','eur_w_france',
                 'eur_w_germany','eur_w_netherlands','eur_w_switzerland','eur_w_other',
                 'eur_southerneurope','eur_s_greece','eur_s_italy','eur_s_portugal','eur_s_azoresislands',
                 'eur_s_spain','eur_s_other','eur_easterneurope','eur_e_albania','eur_e_belarus',
                 'eur_e_bosniaandherzegovina','eur_e_bulgaria','eur_e_croatia','eur_e_czechrepublicandslovakia',
                 'eur_e_hungary','eur_e_latvia','eur_e_lithuania','eur_e_northmacedonia','eur_e_moldova',
                 'eur_e_poland','eur_e_romania','eur_e_russia','eur_e_serbia','eur_e_ukraine','eur_e_other',
                 'eur_nec','total_asia','asia_easternasia','StateFIPS','CountyFIPS']
    data=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype = str)
    data['Region'] = 'GNRC'
    data_appended.append(data)
    
data_appended = pd.concat(data_appended)
first = data_appended.reset_index(drop = True)
print('Your API call is complete')

Your API call is complete

In [59]:
# 'B05006_049E' - 'B05006_090E', china - asia, nec
data_appended = []
for i in GNRC:
    url_str= 'https://api.census.gov/data/2020/acs/acs5?key='+api_key_census
    predicates= {}
    get_vars= ["NAME", "GEO_ID",'B05006_049E','B05006_050E','B05006_051E','B05006_052E',
              'B05006_053E','B05006_054E','B05006_055E','B05006_056E','B05006_057E','B05006_058E',
              'B05006_059E','B05006_060E','B05006_061E','B05006_062E','B05006_063E','B05006_064E',
              'B05006_065E','B05006_066E','B05006_067E','B05006_068E','B05006_069E','B05006_070E',
              'B05006_071E','B05006_072E','B05006_073E','B05006_074E','B05006_075E','B05006_076E',
              'B05006_077E','B05006_078E','B05006_079E','B05006_080E','B05006_081E','B05006_082E',
              'B05006_083E','B05006_084E','B05006_085E','B05006_086E','B05006_087E','B05006_088E',
              'B05006_089E','B05006_090E']
    predicates["get"]= ",". join(get_vars)
    predicates["for"]= "county:{}".format(i)
    predicates["in"]= "state:47"
    data= requests.get(url_str, params= predicates)
    col_names = ['County', 'GEOID','as_e_china','as_e_chinanohongkongortaiwan',
                 'as_e_hongkong','as_e_taiwan','as_e_japan','as_e_korea','as_e_other',
                 'asia_southcentral','as_sc_afghanistan','as_sc_bangladesh','as_sc_india',
                 'as_sc_iran','as_sc_kazakhstan','as_sc_nepal','as_sc_pakistan','as_sc_srilanka',
                 'as_sc_uzbekistan','as_sc_other','asia_southeastern','as_se_burma','as_se_cambodia',
                 'as_se_indonesia','as_se_laos','as_se_malaysia','as_se_philippines','as_se_singapore',
                 'as_se_thailand','as_se_vietnam','as_se_other','asia_western','as_w_armenia','as_w_iraq',
                 'as_w_israel','as_w_jordan','as_w_kuwait','as_w_lebanon','as_w_saudiarabia','as_w_syria',
                 'as_w_turkey','as_w_yemen','as_w_other','asia_nec',
                 'StateFIPS','CountyFIPS']
    data=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype = str)
    data['Region'] = 'GNRC'
    data_appended.append(data)
    
data_appended = pd.concat(data_appended)
second = data_appended.reset_index(drop = True)
print('Your API call is complete')

Your API call is complete

In [60]:
# 'B05006_091' - 'B05006_128E', total, africa - oceania nec
data_appended = []
for i in GNRC:
    url_str= 'https://api.census.gov/data/2020/acs/acs5?key='+api_key_census
    predicates= {}
    get_vars= ["NAME", "GEO_ID",'B05006_091E','B05006_092E',
              'B05006_093E','B05006_094E','B05006_095E','B05006_096E','B05006_097E','B05006_098E',
              'B05006_099E','B05006_100E','B05006_101E','B05006_102E','B05006_103E','B05006_104E',
              'B05006_105E','B05006_106E','B05006_107E','B05006_108E','B05006_109E','B05006_110E',
              'B05006_111E','B05006_112E','B05006_113E','B05006_114E','B05006_115E','B05006_116E',
              'B05006_117E','B05006_118E','B05006_119E','B05006_120E','B05006_121E','B05006_122E',
              'B05006_123E','B05006_124E','B05006_125E','B05006_126E','B05006_127E','B05006_128E']
    predicates["get"]= ",". join(get_vars)
    predicates["for"]= "county:{}".format(i)
    predicates["in"]= "state:47"
    data= requests.get(url_str, params= predicates)
    col_names = ['County', 'GEOID','africa_total','africa_easternafrica',
                 'af_ea_eritrea','af_ea_ethiopia','af_ea_kenya','af_ea_somalia',
                 'af_ea_uganda','af_ea_zimbabwe','af_ea_other','africa_middleafrica',
                 'af_ma_cameroon','af_ma_congo','af_ma_democraticrepublicofcongosaire','af_ma_other',
                 'africa_northernafrica','af_na_egypt','af_na_morocco','af_na_sudan',
                 'af_na_other','africa_southernafrica','af_sa_southafrica','af_sa_other',
                 'africa_westernafrica','af_w_caboverde','af_w_ghana','af_w_liberia',
                 'af_w_nigeria','af_w_senegal','af_w_sierraleone','af_w_other','africa_nec',
                 'oceania','oc_australianewzelandsubregion','oc_anz_australia','oc_anz_other',
                 'oc_fiji','oc_micronesia','oceania_nec',
                 'StateFIPS','CountyFIPS']
    data=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype = str)
    data['Region'] = 'GNRC'
    data_appended.append(data)
    
data_appended = pd.concat(data_appended)
third = data_appended.reset_index(drop = True)
print('Your API call is complete')

Your API call is complete

In [61]:
# 'B05006_129E' - 'B05006_168E', total americas, other northern america
data_appended = []
for i in GNRC:
    url_str= 'https://api.census.gov/data/2020/acs/acs5?key='+api_key_census
    predicates= {}
    get_vars= ["NAME", "GEO_ID",'B05006_129E','B05006_130E',
              'B05006_131E','B05006_132E','B05006_133E','B05006_134E','B05006_135E','B05006_136E',
              'B05006_137E','B05006_138E','B05006_139E','B05006_140E','B05006_141E','B05006_142E',
              'B05006_143E','B05006_144E','B05006_145E','B05006_146E','B05006_147E','B05006_148E',
              'B05006_149E','B05006_150E','B05006_151E','B05006_152E','B05006_153E']#,'5006_154E']#,
#              'B05006_155E','B05006_156E','B05006_157E','B05006_158E','B05006_159E','B05006_1160E',
#               'B05006_167E','B05006_168E']
    predicates["get"]= ",". join(get_vars)
    predicates["for"]= "county:{}".format(i)
    predicates["in"]= "state:47"
    data= requests.get(url_str, params= predicates)
    col_names = ['County', 'GEOID','americas_total','americas_latinamerica',
                 'am_la_caribbean','am_la_ca_bahamas','am_la_ca_barbados','am_la_ca_cuba',
                 'am_la_ca_dominica','am_la_ca_dominicanrepublic','am_la_ca_grenada','am_la_ca_haiti',
                 'am_la_ca_jamaica','am_la_ca_stvincentandthegrenadines','am_la_ca_trinidadandtobago','am_la_ca_westindies',
                 'am_la_ca_other','am_la_centralamerica','am_la_cent_belize','am_la_cent_costarica',
                 'am_la_cent_elsalvador','am_la_cent_guatemala','am_la_cent_honduras','am_la_cent_mexico',
                 'am_la_cent_nicaragua','am_la_cent_panama','am_la_cent_other',
                 #'am_la_southamerica',
                 #'am_la_sa_argentina','am_la_sa_bolivia','am_la_sa_brazil',
                 #'am_la_sa_chile',
#                  'am_la_sa_columbia','am_la_sa_ecuador','am_la_sa_guyana','am_la_sa_peru',
#                  'am_la_sa_uruguay','am_la_sa_venezuela','am_la_sa_other','americas_northernamerica',
#                  'm_na_canada','am_na_other',
                 'StateFIPS','CountyFIPS']
    data=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype = str)
    data['Region'] = 'GNRC'
    data_appended.append(data)
    
data_appended = pd.concat(data_appended)
fourth = data_appended.reset_index(drop = True)
print('Your API call is complete')

Your API call is complete

In [62]:
# 'B05006_129E' - 'B05006_168E', total americas, other northern america
data_appended = []
for i in GNRC:
    url_str= 'https://api.census.gov/data/2020/acs/acs5?key='+api_key_census
    predicates= {}
    get_vars= ["NAME", "GEO_ID",'B05006_154E','B05006_155E',
               'B05006_156E','B05006_157E','B05006_158E','B05006_159E',
               'B05006_160E','B05006_161E','B05006_162E','B05006_163E',
               'B05006_164E','B05006_165E','B05006_166E','B05006_167E','B05006_168E','B01001_001E']
    predicates["get"]= ",". join(get_vars)
    predicates["for"]= "county:{}".format(i)
    predicates["in"]= "state:47"
    data= requests.get(url_str, params= predicates)
    col_names = ['County', 'GEOID','am_la_southamerica','am_la_sa_argentina',
                 'am_la_sa_bolivia','am_la_sa_brazil','am_la_sa_chile','am_la_sa_columbia',
                 'am_la_sa_ecuador','am_la_sa_guyana','am_la_sa_peru','am_la_sa_uruguay',
                 'am_la_sa_venezuela','am_la_sa_other','americas_northernamerica','m_na_canada','am_na_other',
                 'total_entirepopulation','StateFIPS','CountyFIPS']
    data=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype = str)
    data['Region'] = 'GNRC'
    data_appended.append(data)
    
data_appended = pd.concat(data_appended)
fifth = data_appended.reset_index(drop = True)
print('Your API call is complete')

Your API call is complete

In [63]:
# dfs = [first, second, third, fourth]

In [80]:
first.columns

Index(['County', 'GEOID', 'total', 'total_europe', 'eur_northerneurope',
       'eur_n_ireland', 'eur_n_denmark', 'eur_n_norway', 'eur_n_sweden',
       'eur_n_UKwcrowndepend', 'eur_n_UKnoEnglandScotland', 'eur_n_england',
       'eur_n_scotland', 'eur_n_other', 'eur_westerneurope', 'eur_w_austria',
       'eur_w_belgium', 'eur_w_france', 'eur_w_germany', 'eur_w_netherlands',
       'eur_w_switzerland', 'eur_w_other', 'eur_southerneurope',
       'eur_s_greece', 'eur_s_italy', 'eur_s_portugal', 'eur_s_azoresislands',
       'eur_s_spain', 'eur_s_other', 'eur_easterneurope', 'eur_e_albania',
       'eur_e_belarus', 'eur_e_bosniaandherzegovina', 'eur_e_bulgaria',
       'eur_e_croatia', 'eur_e_czechrepublicandslovakia', 'eur_e_hungary',
       'eur_e_latvia', 'eur_e_lithuania', 'eur_e_northmacedonia',
       'eur_e_moldova', 'eur_e_poland', 'eur_e_romania', 'eur_e_russia',
       'eur_e_serbia', 'eur_e_ukraine', 'eur_e_other', 'eur_nec', 'total_asia',
       'asia_easternasia', 'StateFIPS', 'CountyFIPS', 'Region'],
      dtype='object')

In [65]:
second = second.drop(columns = ['County','StateFIPS','CountyFIPS','Region'])
third = third.drop(columns = ['County','StateFIPS','CountyFIPS','Region'])
fourth = fourth.drop(columns = ['County','StateFIPS','CountyFIPS','Region'])
fifth = fifth.drop(columns = ['County','StateFIPS','CountyFIPS','Region'])

Merge All

In [214]:
data = pd.merge(first, second, on = 'GEOID')

In [215]:
data = pd.merge(data, third, on = 'GEOID')

In [216]:
data = pd.merge(data, fourth, on = 'GEOID')

In [217]:
data = pd.merge(data, fifth, on = 'GEOID')

In [218]:
data.head()

,County,GEOID,total,total_europe,eur_northerneurope,eur_n_ireland,eur_n_denmark,eur_n_norway,eur_n_sweden,eur_n_UKwcrowndepend,...,am_la_sa_ecuador,am_la_sa_guyana,am_la_sa_peru,am_la_sa_uruguay,am_la_sa_venezuela,am_la_sa_other,americas_northernamerica,m_na_canada,am_na_other,total_entirepopulation
0,"Stewart County, Tennessee",0500000US47161,228,76,16,0,0,0,0,16,...,0,0,0,0,9,0,25,25,0,13553
1,"Montgomery County, Tennessee",0500000US47125,10985,1768,194,0,0,3,0,173,...,49,28,88,0,81,0,356,356,0,204992
2,"Houston County, Tennessee",0500000US47083,45,20,0,0,0,0,0,0,...,0,0,0,0,0,0,8,8,0,8201
3,"Humphreys County, Tennessee",0500000US47085,260,43,3,0,0,0,0,3,...,0,0,0,0,10,0,10,10,0,18528
4,"Dickson County, Tennessee",0500000US47043,983,89,42,11,0,0,0,31,...,0,0,47,0,5,0,78,78,0,53289

In [219]:
data.columns

Index(['County', 'GEOID', 'total', 'total_europe', 'eur_northerneurope',
       'eur_n_ireland', 'eur_n_denmark', 'eur_n_norway', 'eur_n_sweden',
       'eur_n_UKwcrowndepend',
       ...
       'am_la_sa_ecuador', 'am_la_sa_guyana', 'am_la_sa_peru',
       'am_la_sa_uruguay', 'am_la_sa_venezuela', 'am_la_sa_other',
       'americas_northernamerica', 'm_na_canada', 'am_na_other',
       'total_entirepopulation'],
      dtype='object', length=174)

### Now we have one large dataframe with all of the foreign-born population by place of birth for each county. Two things from here: first I will groupby and transpose to get numbers for the entire 13 county region, also I will split by county and transpose so that we have a separate dataframe for each county.

#### First, groupby and get regional numbers.

In [220]:
region = data

In [221]:
region['groupby'] = 1

In [222]:
cols = ['total','total_europe','eur_northerneurope','eur_n_ireland',
        'eur_n_denmark','eur_n_norway','eur_n_sweden','eur_n_UKwcrowndepend',
        'eur_n_UKnoEnglandScotland','eur_n_england','eur_n_scotland',
        'eur_n_other','eur_westerneurope','eur_w_austria','eur_w_belgium','eur_w_france',
        'eur_w_germany','eur_w_netherlands','eur_w_switzerland','eur_w_other',
        'eur_southerneurope','eur_s_greece','eur_s_italy','eur_s_portugal','eur_s_azoresislands',
        'eur_s_spain','eur_s_other','eur_easterneurope','eur_e_albania','eur_e_belarus',
        'eur_e_bosniaandherzegovina','eur_e_bulgaria','eur_e_croatia','eur_e_czechrepublicandslovakia',
        'eur_e_hungary','eur_e_latvia','eur_e_lithuania','eur_e_northmacedonia','eur_e_moldova',
        'eur_e_poland','eur_e_romania','eur_e_russia','eur_e_serbia','eur_e_ukraine','eur_e_other',
        'eur_nec','total_asia','asia_easternasia','as_e_china','as_e_chinanohongkongortaiwan',
        'as_e_hongkong','as_e_taiwan','as_e_japan','as_e_korea','as_e_other',
        'asia_southcentral','as_sc_afghanistan','as_sc_bangladesh','as_sc_india',
        'as_sc_iran','as_sc_kazakhstan','as_sc_nepal','as_sc_pakistan','as_sc_srilanka',
        'as_sc_uzbekistan','as_sc_other','asia_southeastern','as_se_burma','as_se_cambodia',
        'as_se_indonesia','as_se_laos','as_se_malaysia','as_se_philippines','as_se_singapore',
        'as_se_thailand','as_se_vietnam','as_se_other','asia_western','as_w_armenia','as_w_iraq',
        'as_w_israel','as_w_jordan','as_w_kuwait','as_w_lebanon','as_w_saudiarabia','as_w_syria',
        'as_w_turkey','as_w_yemen','as_w_other','asia_nec','africa_total','africa_easternafrica',
        'af_ea_eritrea','af_ea_ethiopia','af_ea_kenya','af_ea_somalia',
        'af_ea_uganda','af_ea_zimbabwe','af_ea_other','africa_middleafrica',
        'af_ma_cameroon','af_ma_congo','af_ma_democraticrepublicofcongosaire','af_ma_other',
        'africa_northernafrica','af_na_egypt','af_na_morocco','af_na_sudan',
        'af_na_other','africa_southernafrica','af_sa_southafrica','af_sa_other',
        'africa_westernafrica','af_w_caboverde','af_w_ghana','af_w_liberia',
        'af_w_nigeria','af_w_senegal','af_w_sierraleone','af_w_other','africa_nec',
        'oceania','oc_australianewzelandsubregion','oc_anz_australia','oc_anz_other',
        'oc_fiji','oc_micronesia','oceania_nec','americas_total','americas_latinamerica',
        'am_la_caribbean','am_la_ca_bahamas','am_la_ca_barbados','am_la_ca_cuba',
        'am_la_ca_dominica','am_la_ca_dominicanrepublic','am_la_ca_grenada','am_la_ca_haiti',
        'am_la_ca_jamaica','am_la_ca_stvincentandthegrenadines','am_la_ca_trinidadandtobago','am_la_ca_westindies',
        'am_la_ca_other','am_la_centralamerica','am_la_cent_belize','am_la_cent_costarica',
        'am_la_cent_elsalvador','am_la_cent_guatemala','am_la_cent_honduras','am_la_cent_mexico',
        'am_la_cent_nicaragua','am_la_cent_panama','am_la_cent_other','am_la_southamerica','am_la_sa_argentina',
        'am_la_sa_bolivia','am_la_sa_brazil','am_la_sa_chile','am_la_sa_columbia',
        'am_la_sa_ecuador','am_la_sa_guyana','am_la_sa_peru','am_la_sa_uruguay',
        'am_la_sa_venezuela','am_la_sa_other','americas_northernamerica','m_na_canada','am_na_other',
        'total_entirepopulation','groupby']

In [223]:
region[cols] = region[cols].astype(int)

In [224]:
region.columns

Index(['County', 'GEOID', 'total', 'total_europe', 'eur_northerneurope',
       'eur_n_ireland', 'eur_n_denmark', 'eur_n_norway', 'eur_n_sweden',
       'eur_n_UKwcrowndepend',
       ...
       'am_la_sa_guyana', 'am_la_sa_peru', 'am_la_sa_uruguay',
       'am_la_sa_venezuela', 'am_la_sa_other', 'americas_northernamerica',
       'm_na_canada', 'am_na_other', 'total_entirepopulation', 'groupby'],
      dtype='object', length=175)

In [225]:
region = region[cols].groupby('groupby').sum().reset_index(drop = True)

In [226]:
region = region.transpose().reset_index().rename(columns = {'index':'Place',0:'People'})

In [227]:
region.head()

                Place  People
0               total  162659
1        total_europe   14764
2  eur_northerneurope    3733
3       eur_n_ireland     102
4       eur_n_denmark     306

In [228]:
region.columns

Index(['Place', 'People'], dtype='object')

Take out zeroes:

In [229]:
region = region.loc[region['People'] != 0]

Find the top categories:

In [230]:
region = region.copy()
region['percforeignpop'] = round((region['People']/162659)*100, 2)
region['percenttotalpop'] = round((region['People']/1996337)*100, 2)

In [231]:
low = region.sort_values(by = 'People', ascending = True).reset_index()
low.head()

,index,Place,People,percforeignpop,percenttotalpop
0,78,as_w_armenia,1,0.00,0.0
1,139,am_la_ca_stvincentandthegrenadines,2,0.00,0.0
2,26,eur_s_other,5,0.00,0.0
3,38,eur_e_moldova,10,0.01,0.0
4,35,eur_e_latvia,12,0.01,0.0

In [232]:
high = region.sort_values(by = 'People', ascending = False).reset_index()
high.head()

   index                   Place   People  percforeignpop  percenttotalpop
0    168  total_entirepopulation  1996337         1227.31           100.00
1      0                   total   162659          100.00             8.15
2    128          americas_total    71080           43.70             3.56
3    129   americas_latinamerica    66935           41.15             3.35
4    143    am_la_centralamerica    55307           34.00             2.77

#### Do the same for Montgomery County first.

In [233]:
mont = data

In [234]:
mont = mont.loc[mont['County']== 'Montgomery County, Tennessee']

In [235]:
mont = mont.drop(columns = ['County','GEOID','StateFIPS','CountyFIPS','Region'])

In [236]:
mont = mont.transpose().reset_index().rename(columns = {'index':'Place',1:'People'})

In [237]:
mont.head()

                Place  People
0               total   10985
1        total_europe    1768
2  eur_northerneurope     194
3       eur_n_ireland       0
4       eur_n_denmark       0

In [238]:
mont['People'] = mont['People'].astype(int)

Take out zeroes:

In [239]:
mont = mont.loc[mont['People'] != 0]

In [244]:
mont = mont.copy()
mont['percforeignpop'] = round((mont['People']/10985)*100, 2)
mont['percenttotalpop'] = round((mont['People']/204992)*100, 2)

In [245]:
low = mont.sort_values(by = 'People', ascending = True).reset_index()
low.head(50)

,index,Place,People,percforeignpop,percenttotalpop
0,169,groupby,1,0.01,0.00
1,124,oc_anz_other,1,0.01,0.00
2,96,af_ea_uganda,1,0.01,0.00
3,50,as_e_hongkong,1,0.01,0.00
4,33,eur_e_czechrepublicandslovakia,2,0.02,0.00
5,5,eur_n_norway,3,0.03,0.00
6,9,eur_n_england,4,0.04,0.00
7,82,as_w_kuwait,5,0.05,0.00
8,108,af_na_other,6,0.05,0.00
9,17,eur_w_netherlands,6,0.05,0.00
10,10,eur_n_scotland,8,0.07,0.00
11,36,eur_e_lithuania,8,0.07,0.00
12,97,af_ea_zimbabwe,9,0.08,0.00
13,39,eur_e_poland,9,0.08,0.00
14,32,eur_e_croatia,9,0.08,0.00
15,137,am_la_ca_haiti,10,0.09,0.00
16,86,as_w_turkey,11,0.10,0.01
17,11,eur_n_other,18,0.16,0.01
18,74,as_se_thailand,19,0.17,0.01
19,123,oc_anz_australia,19,0.17,0.01
20,122,oc_australianewzelandsubregion,20,0.18,0.01
21,94,af_ea_kenya,23,0.21,0.01
22,156,am_la_sa_brazil,23,0.21,0.01
23,92,af_ea_eritrea,24,0.22,0.01
24,57,as_sc_bangladesh,26,0.24,0.01
25,160,am_la_sa_guyana,28,0.25,0.01
26,69,as_se_indonesia,28,0.25,0.01
27,126,oc_micronesia,32,0.29,0.02
28,95,af_ea_somalia,39,0.36,0.02
29,106,af_na_morocco,43,0.39,0.02
30,13,eur_w_austria,43,0.39,0.02
31,105,af_na_egypt,43,0.39,0.02
32,84,as_w_saudiarabia,44,0.40,0.02
33,43,eur_e_ukraine,45,0.41,0.02
34,59,as_sc_iran,47,0.43,0.02
35,140,am_la_ca_trinidadandtobago,48,0.44,0.02
36,159,am_la_sa_ecuador,49,0.45,0.02
37,34,eur_e_hungary,51,0.46,0.02
38,101,af_ma_congo,52,0.47,0.03
39,51,as_e_taiwan,52,0.47,0.03
40,120,africa_nec,53,0.48,0.03
41,75,as_se_vietnam,56,0.51,0.03
42,28,eur_e_albania,57,0.52,0.03
43,127,oceania_nec,58,0.53,0.03
44,15,eur_w_france,62,0.56,0.03
45,142,am_la_ca_other,65,0.59,0.03
46,115,af_w_liberia,66,0.60,0.03
47,21,eur_s_greece,67,0.61,0.03
48,133,am_la_ca_cuba,67,0.61,0.03
49,70,as_se_laos,71,0.65,0.03

In [246]:
high = mont.sort_values(by = 'People', ascending = False).reset_index()
high.head(50)

,index,Place,People,percforeignpop,percenttotalpop
0,168,total_entirepopulation,204992,1866.11,100.00
1,0,total,10985,100.00,5.36
2,128,americas_total,4783,43.54,2.33
3,129,americas_latinamerica,4427,40.30,2.16
4,46,total_asia,3274,29.80,1.60
5,143,am_la_centralamerica,3143,28.61,1.53
6,149,am_la_cent_mexico,2085,18.98,1.02
7,1,total_europe,1768,16.09,0.86
8,47,asia_easternasia,1411,12.84,0.69
9,90,africa_total,1050,9.56,0.51
10,66,asia_southeastern,996,9.07,0.49
11,12,eur_westerneurope,964,8.78,0.47
12,16,eur_w_germany,853,7.77,0.42
13,53,as_e_korea,851,7.75,0.42
14,72,as_se_philippines,822,7.48,0.40
15,55,asia_southcentral,685,6.24,0.33
16,153,am_la_southamerica,668,6.08,0.33
17,130,am_la_caribbean,616,5.61,0.30
18,48,as_e_china,401,3.65,0.20
19,91,africa_easternafrica,375,3.41,0.18
20,166,m_na_canada,356,3.24,0.17
21,165,americas_northernamerica,356,3.24,0.17
22,99,africa_middleafrica,353,3.21,0.17
23,27,eur_easterneurope,353,3.21,0.17
24,147,am_la_cent_guatemala,348,3.17,0.17
25,49,as_e_chinanohongkongortaiwan,348,3.17,0.17
26,61,as_sc_nepal,331,3.01,0.16
27,100,af_ma_cameroon,301,2.74,0.15
28,158,am_la_sa_columbia,264,2.40,0.13
29,20,eur_southerneurope,257,2.34,0.13
30,151,am_la_cent_panama,253,2.30,0.12
31,138,am_la_ca_jamaica,248,2.26,0.12
32,146,am_la_cent_elsalvador,247,2.25,0.12
33,148,am_la_cent_honduras,210,1.91,0.10
34,2,eur_northerneurope,194,1.77,0.09
35,58,as_sc_india,183,1.67,0.09
36,77,asia_western,182,1.66,0.09
37,135,am_la_ca_dominicanrepublic,178,1.62,0.09
38,112,africa_westernafrica,177,1.61,0.09
39,7,eur_n_UKwcrowndepend,173,1.57,0.08
40,8,eur_n_UKnoEnglandScotland,161,1.47,0.08
41,52,as_e_japan,159,1.45,0.08
42,98,af_ea_other,153,1.39,0.07
43,154,am_la_sa_argentina,135,1.23,0.07
44,93,af_ea_ethiopia,126,1.15,0.06
45,79,as_w_iraq,122,1.11,0.06
46,116,af_w_nigeria,111,1.01,0.05
47,121,oceania,110,1.00,0.05
48,62,as_sc_pakistan,98,0.89,0.05
49,23,eur_s_portugal,96,0.87,0.05