###### Imports and Settings

In [366]:
import pandas as pd
import geopandas as gpd
import numpy as np
import requests
import io
import pickle
import matplotlib.pyplot as plt
from collections import deque
%matplotlib inline
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.width', 150)

# Mental Health America MidSouth

In [367]:
#to read in... rb is read bite
with open('api_keys.pkl', 'rb') as keys_file:
        keys_dict_2 = pickle.load(keys_file)

In [368]:
#create a variable that contains your api key
api_key = keys_dict_2['CENSUS']

The "head" should never be more than 2 variables, and the "tail" never more than 2. Since we can pull 50 variables at once this means that we can systematically program in 46 variables for each pull, so that's:
+ dg1: ID's 1 - 46  
+ dg2: ID's 47-92  
+ dg3: ID's 93-138  
+ dg4: ID's 139-184  
+ dg5: ID's 185-230

In [442]:
dataguide = pd.read_csv('../Data Guide.csv', dtype = str)
dataguide['ID'] = dataguide['ID'].astype(int)

In [443]:
dg1 = dataguide[dataguide['ID'].between(1, 46)]
dg2 = dataguide[dataguide['ID'].between(47, 92)]
dg3 = dataguide[dataguide['ID'].between(93, 138)]
dg4 = dataguide[dataguide['ID'].between(139, 184)]
dg5 = dataguide[dataguide['ID'].between(185, 230)]

In [444]:
# listparams
head1 = 'NAME'
tail_cols1 = 'StateFIPS'
dflist = [dg1,dg2,dg3,dg4,dg5]

In [445]:
# THIS only takes the last two from the big list - save because it works
data_appended = []
for index, element in enumerate(dflist):
    var_list = list(dflist[index]['ACS Variable'])
    #add stuff to variables list
    var_list = deque(var_list)
    var_list.appendleft(head1)
    var_list = list(var_list)
    #make columns list
    col_list = list(dflist[index]['Column Name'])
    #add stuff to columns list
    col_list.append(tail_cols1)
    col_list = deque(col_list)
    col_list.appendleft(head1)
    col_list = list(col_list)
    #API call
    url_str= 'https://api.census.gov/data/2020/acs/acs5?key='+api_key
    predicates= {}
    get_vars= var_list
    predicates["get"]= ",". join(get_vars)
    predicates["for"]= "state:47" #all places
    data= requests.get(url_str, params= predicates)
    col_names = col_list
    data=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
    data_appended.append(data)
data_appended = pd.concat(data_appended, axis = 1)
data = data_appended
#dflist[index] = data_appended.reset_index(drop = True)
#data_appended = dflist[index-1].merge(dflist[index], how = "outer")
print('Your API call is complete.')

Your API call is complete.

In [446]:
data.head()

,NAME,pop,agebysex_total_series,age_total_male,age_m_u5,age_m_5to9,age_m_10to14,age_m_15to17,age_m_18to19,age_m_20,age_m_21,age_m_22to24,age_m_25to29,age_m_30to34,age_m_35to39,age_m_40to44,age_m_45to49,age_m_50to54,age_m_55to59,age_m_60to61,age_m_62to64,age_m_65to66,age_m_67to69,age_m_70to74,age_m_75to79,age_m_80to84,age_m_85+,age_total_female,age_f_u5,age_f_5to9,age_f_10to14,age_f_15to17,age_f_18to19,age_f_20,age_f_21,age_f_22to24,age_f_25to29,age_f_30to34,age_f_35to39,age_f_40to44,age_f_45to49,age_f_50to54,age_f_55to59,age_f_60to61,age_f_62to64,age_f_65to66,age_f_67to69,StateFIPS,NAME,age_f_70to74,age_f_75to79,age_f_80to84,age_f_85+,raceeth_white_alone,raceeth_blackafricanamerican_alone,raceeth_americanindianalaskanative_alone,raceeth_asian_alone,raceeth_nativehawaiianotherpacificislander_alone,raceeth_someotherrace_alone,raceeth_twoormoreraces_alone,raceeth_whitealone_nothispanicorlatino,raceeth_hispanicorlatino,raceeth_white_m_55to64,raceeth_white_m_65to74,raceeth_white_m_75to84,raceeth_white_m_85+,raceeth_white_f_55to64,raceeth_white_f_65to74,raceeth_white_f_75to84,raceeth_white_f_85+,raceeth_baa_m_55to64,raceeth_baa_m_65to74,raceeth_baa_m_75to84,raceeth_baa_m_85+,raceeth_baa_f_55to64,raceeth_baa_f_65to74,raceeth_baa_f_75to84,raceeth_baa_f_85+,raceeth_amindalaska_m_55to64,raceeth_amindalaska_m_65to74,raceeth_amindalaska_m_75to84,raceeth_amindalaska_m_85+,raceeth_amindalaska_f_55to64,raceeth_amindalaska_f_65to74,raceeth_amindalaska_f_75to84,raceeth_amindalaska_f_85+,raceeth_asian_m_55to64,raceeth_asian_m_65to74,raceeth_asian_m_75to84,raceeth_asian_m_85+,raceeth_asian_f_55to64,raceeth_asian_f_65to74,raceeth_asian_f_75to84,raceeth_asian_f_85+,raceeth_hawaiianpacisl_m_55to64,StateFIPS,NAME,raceeth_hawaiianpacisl_m_65to74,raceeth_hawaiianpacisl_m_75to84,raceeth_hawaiianpacisl_m_85+,raceeth_hawaiianpacisl_f_55to64,raceeth_hawaiianpacisl_f_65to74,raceeth_hawaiianpacisl_f_75to84,raceeth_hawaiianpacisl_f_85+,raceeth_someother_m_55to64,raceeth_someother_m_65to74,raceeth_someother_m_75to84,raceeth_someother_m_85+,raceeth_someother_f_55to64,raceeth_someother_f_65to74,raceeth_someother_f_75to84,raceeth_someother_f_85+,raceeth_twoormore_m_55to64,raceeth_twoormore_m_65to74,raceeth_twoormore_m_75to84,raceeth_twoormore_m_85+,raceeth_twoormore_f_55to64,raceeth_twoormore_f_65to74,raceeth_twoormore_f_75to84,raceeth_twoormore_f_85+,whitenothisporlatino_total,whitenothisporlatino_m_55to64,whitenothisporlatino_m_65to74,whitenothisporlatino_m_75to84,whitenothisporlatino_m_85+,whitenothisporlatino_f_55to64,whitenothisporlatino_f_65to74,whitenothisporlatino_f_75to84,whitenothisporlatino_f_85+,raceeth_hisplatino_m_55to64,raceeth_hisplatino_m_65to74,raceeth_hisplatino_m_75to84,raceeth_hisplatino_m_85+,raceeth_hisplatino_f_55to64,raceeth_hisplatino_f_65to74,raceeth_hisplatino_f_75to84,raceeth_hisplatino_f_85+,hhincome_totalhh65+_series,hhincome_65+_lessthan10000,hhincome_65+_10000to14999,hhincome_65+_15000to19999,hhincome_65+_20000to24999,hhincome_65+_25000to29999,StateFIPS,NAME,hhincome_65+_30000to34999,hhincome_65+_35000to39999,hhincome_65+_40000to44999,hhincome_65+_45000to49999,hhincome_65+_50000to55999,hhincome_65+_60000to74999,hhincome_65+_75000to99999,hhincome_65+_100000to124999,hhincome_65+_125000to149999,hhincome_65+_150000to199999,hhincome_65+_200000+,hhincome_65+_median,tenure_total_agehh_series,tenure_allowneroccupied,tenure_owner_55to59,tenure_owner_60to64,tenure_owner_65to74,tenure_owner_75to84,tenure_owner_85+,tenure_allrenteroccupied,tenure_renter_55to59,tenure_renter_60to64,tenure_renter_65to74,tenure_renter_75to84,tenure_renter_85+,livingsituation_total65+_series,livingsituation_total65+_inhh,livingsituation_m65+_livealone,livingsituation_f65+_livealone,livingsituation_total65+_spouse,grandparent_total_responsibilityforgrandchild_series,grandparent_responsibleforgrandchild,grandparent_resposibleforgrandchild_noparent_60+,grandparent_resposibleforgrandchild_othergrandparent_60+,grandparent_notresposibleforgrandchild_60+,housing_total_ownercosts,housing_65+total_ownercosts,housing_65+30to34.9%_ownercosts,housing_65+35%ormore_ownercosts,housing_total_grossrent,housing_65+total_grossrent,housing_65+30to34.9%_grossrent,housing_65+35%ormore_grossrent,foreignborn_total_series,foreignborn_m_55to59,foreignborn_m_60to64,StateFIPS,NAME,foreignborn_m_65to69,foreignborn_m_70to74,foreignborn_m_75to79,foreignborn_m_80to84,foreignborn_m_85+,foreignborn_f_55to59,foreignborn_f_60to64,foreignborn_f_65to69,foreignborn_f_70to74,foreignborn_f_75to79,foreignborn_f_80to84,foreignborn_f_85+,language_65+_total_series,language_65+_onlyenglish,language_65+_spanish,language_65+_spanish_englishnotwell,language_65+_spanish_englishnotatall,language_65+_indoeuro,language_65+_indoeuro_englishnotwell,language_65_indoeuro_englishnotatall,language_65+_asianpacificislander,language_65+_asianpacificislander_englishnotwell,language_65+_asianpacificislander_englishnotatall,language_65+_other,language_65+_other_englishnotwell,language_65+_other_englishnotatall,poverty_sexbyage_total_series,poverty_below_m_55to64,poverty_below_m_65to74,poverty_below_m_75+,poverty_below_f_55to64,poverty_below_f_65to74,poverty_below_f_75+,StateFIPS
0,Tennessee,6772268,6772268,3304462,208551,208045,222622,131806,86714,47706,44634,132010,243857,219559,212899,203524,215578,215875,214880,85770,121133,74993,100924,132136,88775,51590,40881,3467806,198435,199222,213270,125939,81922,45579,45284,130682,244030,224399,219632,207613,222565,226331,238646,93448,132544,80650,114824,47,Tennessee,159126,109563,74100,80002,5196680,1128806,17178,122897,3959,103760,198988,4969371,377162,344904,265442,125569,37097,372167,297762,160326,69939,61213,34006,11557,2938,74464,44894,19014,8421,1852,675,366,1,1218,1187,407,74,4757,2996,1267,407,6892,4352,1548,554,129,47,Tennessee,41,10,0,186,149,21,37,2816,1834,201,101,2249,2344,662,123,6112,3059,1395,337,7462,3912,1685,854,4969371,338630,262583,124531,36876,365889,295187,159136,69128,10645,4502,1377,319,10153,4709,1669,988,694216,41766,53543,55630,50643,46307,47,Tennessee,43035,40344,37162,31527,56794,64604,69926,39067,20211,19560,24097,42047,2639455,1756534,194094,198519,337518,174555,59449,882921,63725,53585,72978,32355,17361,1107564,1107564,94930,198307,286037,157780,75051,17369,16051,46175,1756534,571522,25019,85773,882921,122694,10643,47288,347386,10435,8384,47,Tennessee,4790,3668,1888,1512,977,11494,8288,5741,4697,2972,2272,1813,1107564,1107564,11593,2332,1656,8627,1276,414,7226,2120,1135,1463,221,151,6603468,48807,22101,13082,61165,33407,32248,47

In [447]:
#all column names from data guide to list, connvert to int
numcols = dataguide['Column Name'].tolist()
data[numcols] = data[numcols].astype(int)

In [448]:
data = data.drop(columns = ['NAME','StateFIPS'])

# Calculations

1. Population by age Groups:  
+ Under 18  
+ 18 to 54  
+ 55+  
+ 55 to 64  
+ 65 to 74  
+ 75 to 84  
+ 85+

In [449]:
def sumlist(x):
    return sum(x)
#function for percent of whole
def percent(x, y):
    try:
        return round((x/y)*100, 2)
    except ZeroDivisionError:
        return 666

In [450]:
data = data.copy()
#under 18
listunder18 = [data['age_m_u5'],data['age_m_5to9'],data['age_m_10to14'],data['age_m_15to17'],data['age_f_u5'], data['age_f_5to9'],
               data['age_f_10to14'], data['age_f_15to17']]
data['u18'] = sumlist(listunder18)
data['%u18'] = percent(data['u18'], data['agebysex_total_series'])
#18 to 54
list18to54 = [data['age_m_18to19'],data['age_m_20'],data['age_m_21'],data['age_m_22to24'],data['age_m_25to29'],data['age_m_30to34'],
              data['age_m_35to39'],data['age_m_40to44'],data['age_m_45to49'],data['age_m_50to54'],
              data['age_f_18to19'],data['age_f_20'],data['age_f_21'],data['age_f_22to24'],data['age_f_25to29'],data['age_f_30to34'],
              data['age_f_35to39'],data['age_f_40to44'],data['age_f_45to49'],data['age_f_50to54']]
data['18to54'] = sumlist(list18to54)
data['%18to54'] = percent(data['18to54'], data['agebysex_total_series'])
#55 to 64
list55to64 = [data['age_m_55to59'],data['age_m_60to61'],data['age_m_62to64'],data['age_f_55to59'],data['age_f_60to61'],data['age_f_62to64']]
data['55to64'] = sumlist(list55to64)
data['%55to64'] = percent(data['55to64'], data['agebysex_total_series'])
#65 to 74
list65to74 = [data['age_m_65to66'],data['age_m_67to69'],data['age_m_70to74'],data['age_f_65to66'],data['age_f_67to69'],data['age_f_70to74']]
data['65to74'] = sumlist(list65to74)
data['%65to74'] = percent(data['65to74'], data['agebysex_total_series'])
#75 to 84
list75to84 = [data['age_m_75to79'],data['age_m_80to84'],data['age_f_75to79'],data['age_f_80to84']]
data['75to84'] = sumlist(list75to84)
data['%75to84'] = percent(data['75to84'], data['agebysex_total_series'])
#85+
list85over = [data['age_m_85+'],data['age_f_85+']]
data['85+'] = sumlist(list85over)
data['%85+'] = percent(data['85+'], data['agebysex_total_series'])
#55+
list55over = [data['55to64'],data['65to74'],data['75to84'],data['85+']]
data['55+'] = sumlist(list55over)
data['%55+'] = percent(data['55+'], data['agebysex_total_series'])
#65+
list65over = [data['65to74'],data['75to84'],data['85+']]
data['65+'] = sumlist(list65over)
data['%65+'] = percent(data['65+'], data['agebysex_total_series'])

In [451]:
cols = ['agebysex_total_series', 'age_total_male', 'age_m_u5', 'age_m_5to9', 'age_m_10to14', 'age_m_15to17', 'age_m_18to19', 'age_m_20', 'age_m_21', 'age_m_22to24', 
        'age_m_25to29', 'age_m_30to34', 'age_m_35to39', 'age_m_40to44', 'age_m_45to49', 'age_m_50to54', 'age_m_55to59', 'age_m_60to61', 'age_m_62to64', 'age_m_65to66',
        'age_m_67to69', 'age_m_70to74', 'age_m_75to79', 'age_m_80to84', 'age_m_85+', 'age_total_female', 'age_f_u5', 'age_f_5to9', 'age_f_10to14', 'age_f_15to17',
        'age_f_18to19', 'age_f_20', 'age_f_21', 'age_f_22to24', 'age_f_25to29', 'age_f_30to34', 'age_f_35to39', 'age_f_40to44', 'age_f_45to49', 'age_f_50to54',
        'age_f_55to59', 'age_f_60to61', 'age_f_62to64', 'age_f_65to66', 'age_f_67to69', 'age_f_70to74', 'age_f_75to79', 'age_f_80to84',
        'age_f_85+']
data = data.drop(columns = cols)

2. Race and Ethnicity Breakdown  
+ Total minority population aged 55+  
+ % of the older adult (55+) population that is a minority  
+ % White, Not Hispanic  
+ % Black or African American  
+ % Hispanic/Latino  
+ % Native American, Other Race, or Multiracial  
+ % Asian or Pacific Islander

In [452]:
#white alone not hispanic or latino 55+ 
listwhitealonenothisplatino55over = [data['whitenothisporlatino_m_55to64'],data['whitenothisporlatino_m_65to74'],data['whitenothisporlatino_m_75to84'],
                                     data['whitenothisporlatino_m_85+'],data['whitenothisporlatino_f_55to64'],data['whitenothisporlatino_f_65to74'],
                                     data['whitenothisporlatino_f_75to84'],data['whitenothisporlatino_f_85+']]
whitenothisplat55over = sumlist(listwhitealonenothisplatino55over)
data['%55+whitenothisplat'] = percent(whitenothisplat55over,data['55+'])
#minority pop age 55+
minority55over = data['55+'] - whitenothisplat55over
data['%55+minority'] = percent(minority55over,data['55+'])
#white 55+
listwhite55over = [data['raceeth_white_m_55to64'],data['raceeth_white_m_65to74'],data['raceeth_white_m_75to84'],
                 data['raceeth_white_m_85+'],data['raceeth_white_f_55to64'],data['raceeth_white_f_65to74'],
                 data['raceeth_white_f_75to84'],data['raceeth_white_f_85+']]
white55over = sumlist(listwhite55over)
data['%55+white'] = percent(white55over, data['55+'])
#black or african american 55+
listbaa55over = [data['raceeth_baa_m_55to64'],data['raceeth_baa_m_65to74'],data['raceeth_baa_m_75to84'],
                 data['raceeth_baa_m_85+'],data['raceeth_baa_f_55to64'],data['raceeth_baa_f_65to74'],
                 data['raceeth_baa_f_75to84'],data['raceeth_baa_f_85+']]
blackafricanamerican55over = sumlist(listbaa55over)
data['%55+blackafricanamerican'] = percent(blackafricanamerican55over,data['55+'])
#american indian or alaska native 55+
listamindalaska55over = [data['raceeth_amindalaska_m_55to64'],data['raceeth_amindalaska_m_65to74'],data['raceeth_amindalaska_m_75to84'],
                 data['raceeth_amindalaska_m_85+'],data['raceeth_amindalaska_f_55to64'],data['raceeth_amindalaska_f_65to74'],
                 data['raceeth_amindalaska_f_75to84'],data['raceeth_amindalaska_f_85+']]
amindalaska55over = sumlist(listamindalaska55over)
#asian 55+
listasian55over = [data['raceeth_asian_m_55to64'],data['raceeth_asian_m_65to74'],data['raceeth_asian_m_75to84'],
                 data['raceeth_asian_m_85+'],data['raceeth_asian_f_55to64'],data['raceeth_asian_f_65to74'],
                 data['raceeth_asian_f_75to84'],data['raceeth_asian_f_85+']]
asian55over = sumlist(listasian55over)
#hawaiian and pacific islander 55+
listhawaiianpacisl55over = [data['raceeth_hawaiianpacisl_m_55to64'],data['raceeth_hawaiianpacisl_m_65to74'],data['raceeth_hawaiianpacisl_m_75to84'],
                 data['raceeth_hawaiianpacisl_m_85+'],data['raceeth_hawaiianpacisl_f_55to64'],data['raceeth_hawaiianpacisl_f_65to74'],
                 data['raceeth_hawaiianpacisl_f_75to84'],data['raceeth_hawaiianpacisl_f_85+']]
hawaiianpacisl55over = sumlist(listhawaiianpacisl55over)
#some other race alone 55+
listsomeother55over = [data['raceeth_someother_m_55to64'],data['raceeth_someother_m_65to74'],data['raceeth_someother_m_75to84'],
                 data['raceeth_someother_m_85+'],data['raceeth_someother_f_55to64'],data['raceeth_someother_f_65to74'],
                 data['raceeth_someother_f_75to84'],data['raceeth_someother_f_85+']]
someother55over = sumlist(listsomeother55over)
#two or more races 55+
listtwoormore55over = [data['raceeth_twoormore_m_55to64'],data['raceeth_twoormore_m_65to74'],data['raceeth_twoormore_m_75to84'],
                 data['raceeth_twoormore_m_85+'],data['raceeth_twoormore_f_55to64'],data['raceeth_twoormore_f_65to74'],
                 data['raceeth_twoormore_f_75to84'],data['raceeth_twoormore_f_85+']]
twoormore55over = sumlist(listtwoormore55over)
#data['%55+twoormore'] = percent(data['twoormore55+'],data['55+'])
#hispanic or latino 55+
listhisplatino55over = [data['raceeth_hisplatino_m_55to64'],data['raceeth_hisplatino_m_65to74'],data['raceeth_hisplatino_m_75to84'],
                 data['raceeth_hisplatino_m_85+'],data['raceeth_hisplatino_f_55to64'],data['raceeth_hisplatino_f_65to74'],
                 data['raceeth_hisplatino_f_75to84'],data['raceeth_hisplatino_f_85+']]
hisplatino55over = sumlist(listhisplatino55over)
data['%55+hisplatino'] = percent(hisplatino55over,data['55+'])
# native american and alaska native, some other race alone, or two or more races
nativeamericanotherormultiracial55over = amindalaska55over+someother55over+twoormore55over
data['%55+nativeamericanotherormultiracial'] = percent(nativeamericanotherormultiracial55over,data['55+'])
# asian and hawaiian or pacific islander
asianhawaiianpacisl55over = asian55over+hawaiianpacisl55over
data['%55+asianhawaiianpacisl'] = percent(asianhawaiianpacisl55over, data['55+'])

In [453]:
cols = ['raceeth_white_alone','raceeth_blackafricanamerican_alone',
        'raceeth_americanindianalaskanative_alone','raceeth_asian_alone','raceeth_nativehawaiianotherpacificislander_alone','raceeth_someotherrace_alone',
        'raceeth_twoormoreraces_alone','raceeth_whitealone_nothispanicorlatino','raceeth_hispanicorlatino','raceeth_baa_m_55to64','raceeth_baa_m_65to74',
        'raceeth_baa_m_75to84','raceeth_baa_m_85+','raceeth_baa_f_55to64','raceeth_baa_f_65to74','raceeth_baa_f_75to84','raceeth_baa_f_85+',
        'raceeth_amindalaska_m_55to64','raceeth_amindalaska_m_65to74','raceeth_amindalaska_m_75to84','raceeth_amindalaska_m_85+','raceeth_amindalaska_f_55to64',
        'raceeth_amindalaska_f_65to74','raceeth_amindalaska_f_75to84','raceeth_amindalaska_f_85+','raceeth_asian_m_55to64','raceeth_asian_m_65to74',
        'raceeth_asian_m_75to84','raceeth_asian_m_85+','raceeth_asian_f_55to64','raceeth_asian_f_65to74','raceeth_asian_f_75to84','raceeth_asian_f_85+',
        'raceeth_hawaiianpacisl_m_55to64','raceeth_hawaiianpacisl_m_65to74','raceeth_hawaiianpacisl_m_75to84','raceeth_hawaiianpacisl_m_85+',
        'raceeth_hawaiianpacisl_f_55to64','raceeth_hawaiianpacisl_f_65to74','raceeth_hawaiianpacisl_f_75to84','raceeth_hawaiianpacisl_f_85+',
        'raceeth_someother_m_55to64','raceeth_someother_m_65to74','raceeth_someother_m_75to84','raceeth_someother_m_85+','raceeth_someother_f_55to64',
        'raceeth_someother_f_65to74','raceeth_someother_f_75to84','raceeth_someother_f_85+','raceeth_twoormore_m_55to64','raceeth_twoormore_m_65to74',
        'raceeth_twoormore_m_75to84','raceeth_twoormore_m_85+','raceeth_twoormore_f_55to64','raceeth_twoormore_f_65to74','raceeth_twoormore_f_75to84',
        'raceeth_twoormore_f_85+','whitenothisporlatino_total','whitenothisporlatino_m_55to64','whitenothisporlatino_m_65to74','whitenothisporlatino_m_75to84',
        'whitenothisporlatino_m_85+','whitenothisporlatino_f_55to64','whitenothisporlatino_f_65to74','whitenothisporlatino_f_75to84','whitenothisporlatino_f_85+',
        'raceeth_hisplatino_m_55to64','raceeth_hisplatino_m_65to74','raceeth_hisplatino_m_75to84','raceeth_hisplatino_m_85+','raceeth_hisplatino_f_55to64',
        'raceeth_hisplatino_f_65to74','raceeth_hisplatino_f_75to84','raceeth_hisplatino_f_85+','raceeth_white_m_55to64','raceeth_white_m_65to74',
        'raceeth_white_m_75to84','raceeth_white_m_85+','raceeth_white_f_55to64','raceeth_white_f_65to74','raceeth_white_f_75to84','raceeth_white_f_85+']
data = data.drop(columns = cols)

3. Median Household Income for Adults 65+  
+ median  
+ % of households that make $50,000 or less

In [454]:
#have median
#% of hh's making $50,000 or less
list55korless = [data['hhincome_65+_lessthan10000'],data['hhincome_65+_10000to14999'],data['hhincome_65+_15000to19999'],data['hhincome_65+_20000to24999'],
                 data['hhincome_65+_25000to29999'],data['hhincome_65+_30000to34999'],data['hhincome_65+_35000to39999'],data['hhincome_65+_40000to44999']]
data['hhincome_65+_lessthan50000'] = sumlist(list55korless)
data['%hh65+_incomelessthan50000'] = percent(data['hhincome_65+_lessthan50000'], data['hhincome_totalhh65+_series'])
data['medhhincome65+'] = data['hhincome_65+_median']

In [455]:
cols = ['hhincome_totalhh65+_series','hhincome_65+_lessthan10000','hhincome_65+_10000to14999','hhincome_65+_15000to19999','hhincome_65+_20000to24999', 
        'hhincome_65+_25000to29999','hhincome_65+_30000to34999','hhincome_65+_35000to39999','hhincome_65+_40000to44999','hhincome_65+_45000to49999', 
        'hhincome_65+_50000to55999','hhincome_65+_60000to74999','hhincome_65+_75000to99999','hhincome_65+_100000to124999','hhincome_65+_125000to149999', 
        'hhincome_65+_150000to199999','hhincome_65+_200000+','hhincome_65+_lessthan50000','hhincome_65+_median']
data = data.drop(columns = cols)

4. Tenure 55+  
+ % of adults 55+ that are renters  
+ highest homeownership rates by categories  
    + 55 - 59  
    + 60 - 64  
    + 65 - 74  
    + 75 - 84  
    + 85+

In [456]:
#RENTERS
#total households 55+ for tenure series
listtenure55over = [data['tenure_owner_55to59'],data['tenure_owner_60to64'],data['tenure_owner_65to74'],data['tenure_owner_75to84'],
                    data['tenure_owner_85+'],data['tenure_renter_55to59'],data['tenure_renter_60to64'],data['tenure_renter_65to74'],
                    data['tenure_renter_75to84'],data['tenure_renter_85+']]
hh55over = sumlist(listtenure55over)          
#renters 55+
listrenters55over = [data['tenure_renter_55to59'],data['tenure_renter_60to64'],data['tenure_renter_65to74'],data['tenure_renter_75to84'],data['tenure_renter_85+']]
data['renters55+'] = sumlist(listrenters55over)
data['%55+renters'] = percent(data['renters55+'], hh55over)

In [457]:
#HOMEOWNERS
#55 to 59
tenure55to59 = data['tenure_renter_55to59'] + data['tenure_owner_55to59']
data['%55to59_homeowners'] = percent(data['tenure_owner_55to59'],tenure55to59)
#60 to 64
tenure60to64 = data['tenure_renter_60to64'] + data['tenure_owner_60to64']
data['%60to64_homeowners'] = percent(data['tenure_owner_60to64'],tenure60to64)
#65 to 74
tenure65to74 = data['tenure_renter_65to74'] + data['tenure_owner_65to74']
data['%65to74_homeowners'] = percent(data['tenure_owner_65to74'],tenure65to74)
#75 to 84
tenure75to84 = data['tenure_renter_75to84'] + data['tenure_owner_75to84']
data['%75to84_homeowners'] = percent(data['tenure_owner_75to84'],tenure75to84)
#85+
tenure85over = data['tenure_renter_85+'] + data['tenure_owner_85+']
data['%85+_homeowners'] = percent(data['tenure_owner_85+'],tenure85over)

In [458]:
cols = ['tenure_total_agehh_series','tenure_allowneroccupied','tenure_owner_55to59','tenure_owner_60to64','tenure_owner_65to74','tenure_owner_75to84', 
        'tenure_owner_85+','tenure_allrenteroccupied','tenure_renter_55to59','tenure_renter_60to64','tenure_renter_65to74','tenure_renter_75to84','tenure_renter_85+']
data = data.drop(columns = cols)

5. Living Situations for Adults 65+  
+ % living alone  
+ % living as married couple

In [459]:
#living alone
data['livealone65+'] = data['livingsituation_m65+_livealone']+data['livingsituation_f65+_livealone']
data['livingwspouse65+'] = data['livingsituation_total65+_spouse']

In [460]:
cols = ['livingsituation_total65+_series','livingsituation_total65+_inhh','livingsituation_m65+_livealone',
        'livingsituation_f65+_livealone','livingsituation_total65+_spouse']
data = data.drop(columns = cols)

6. Grandparents 60+ Caring for Grandchildren  
+ % of the State's grandparents that are 60+  
+ % of grandparents 60+ that are the primary caregiver for their grandchild

In [461]:
listgrandparent60over = [data['grandparent_resposibleforgrandchild_noparent_60+'],data['grandparent_resposibleforgrandchild_othergrandparent_60+'], 
                         data['grandparent_notresposibleforgrandchild_60+']]
grandparent60over = sumlist(listgrandparent60over)
data['%grandparentsthatare60+'] = percent(grandparent60over, data['grandparent_total_responsibilityforgrandchild_series'])
data['%grandparents60+_primarycaregivers'] = percent(data['grandparent_resposibleforgrandchild_noparent_60+'], grandparent60over)

In [462]:
cols = ['grandparent_total_responsibilityforgrandchild_series','grandparent_responsibleforgrandchild','grandparent_resposibleforgrandchild_noparent_60+',
        'grandparent_resposibleforgrandchild_othergrandparent_60+','grandparent_notresposibleforgrandchild_60+']
data = data.drop(columns = cols)

7. Cost Burden for Adults 65+ 
+ % of owners that are cost burdened  
+ % of renters that are cost-burdened

In [463]:
#owners cost burdened
costburdenedowners = data['housing_65+30to34.9%_ownercosts']+data['housing_65+35%ormore_ownercosts']
data['%owners65+costburdened'] = percent(costburdenedowners, data['housing_65+total_ownercosts'])
#renters cost burdened
costburdenedrenters = data['housing_65+30to34.9%_grossrent']+data['housing_65+35%ormore_grossrent']
data['%renters65+costburdened'] = percent(costburdenedrenters, data['housing_65+total_grossrent'])

In [464]:
cols = ['housing_total_ownercosts','housing_65+total_ownercosts','housing_65+30to34.9%_ownercosts','housing_65+35%ormore_ownercosts','housing_total_grossrent', 
        'housing_65+total_grossrent','housing_65+30to34.9%_grossrent','housing_65+35%ormore_grossrent']
data = data.drop(columns = cols)

8. Foreign Born Population  
+ % of the foreign born population that is 55+  
+ count of the foreign born population that is 55+

In [465]:
#foreign born population 55+
listforeignborn55over = [data['foreignborn_m_55to59'],data['foreignborn_m_60to64'],data['foreignborn_m_65to69'],data['foreignborn_m_70to74'],
                         data['foreignborn_m_75to79'],data['foreignborn_m_80to84'], data['foreignborn_m_85+'],data['foreignborn_f_55to59'],
                         data['foreignborn_f_60to64'],data['foreignborn_f_65to69'],data['foreignborn_f_70to74'],data['foreignborn_f_75to79'],
                         data['foreignborn_f_80to84'],data['foreignborn_f_85+']]
data['foreignborn55+'] = sumlist(listforeignborn55over)
data['%foreignbornpop55+'] = percent(data['foreignborn55+'], data['foreignborn_total_series'])

In [466]:
cols = ['foreignborn_total_series','foreignborn_m_55to59','foreignborn_m_60to64','foreignborn_m_65to69','foreignborn_m_70to74','foreignborn_m_75to79', 
        'foreignborn_m_80to84','foreignborn_m_85+','foreignborn_f_55to59','foreignborn_f_60to64','foreignborn_f_65to69','foreignborn_f_70to74', 
        'foreignborn_f_75to79','foreignborn_f_80to84','foreignborn_f_85+']
data = data.drop(columns = cols)

9. Language  
+ % of Adults 65+ that speak a language besides English  
+ of that ^ %, about x share don't speak English well or at all

In [467]:
#% adults 65+ speak language besides English
listadults65overnotenglish = [data['language_65+_spanish'],data['language_65+_indoeuro'],data['language_65+_asianpacificislander'],data['language_65+_other']]
adults65overnotenglish = sumlist(listadults65overnotenglish)
data['%65+speaknotenglish'] = percent(adults65overnotenglish, data['language_65+_total_series'])
#% not English that don't speak English well or at all
listnotwelloratall = [data['language_65+_other_englishnotwell'], data['language_65+_other_englishnotatall'],data['language_65+_spanish_englishnotwell'],
                      data['language_65+_spanish_englishnotatall'],data['language_65+_indoeuro_englishnotwell'], data['language_65_indoeuro_englishnotatall'],
                      data['language_65+_asianpacificislander_englishnotwell'],data['language_65+_asianpacificislander_englishnotatall']]
notwelloratall = sumlist(listnotwelloratall)
data['%65+notenglishdontspeakwelloratall'] = percent(notwelloratall, adults65overnotenglish)

In [468]:
cols = ['language_65+_total_series','language_65+_onlyenglish','language_65+_spanish','language_65+_spanish_englishnotwell','language_65+_spanish_englishnotatall',
        'language_65+_indoeuro','language_65+_indoeuro_englishnotwell','language_65_indoeuro_englishnotatall','language_65+_asianpacificislander',
        'language_65+_asianpacificislander_englishnotwell','language_65+_asianpacificislander_englishnotatall','language_65+_other',
        'language_65+_other_englishnotwell','language_65+_other_englishnotatall']
data = data.drop(columns = cols)

In [469]:
print(data.columns.tolist())

['pop', 'poverty_sexbyage_total_series', 'poverty_below_m_55to64', 'poverty_below_m_65to74', 'poverty_below_m_75+', 'poverty_below_f_55to64', 'poverty_below_f_65to74', 'poverty_below_f_75+', 'u18', '%u18', '18to54', '%18to54', '55to64', '%55to64', '65to74', '%65to74', '75to84', '%75to84', '85+', '%85+', '55+', '%55+', '65+', '%65+', '%55+whitenothisplat', '%55+minority', '%55+white', '%55+blackafricanamerican', '%55+hisplatino', '%55+nativeamericanotherormultiracial', '%55+asianhawaiianpacisl', '%hh65+_incomelessthan50000', 'medhhincome65+', 'renters55+', '%55+renters', '%55to59_homeowners', '%60to64_homeowners', '%65to74_homeowners', '%75to84_homeowners', '%85+_homeowners', 'livealone65+', 'livingwspouse65+', '%grandparentsthatare60+', '%grandparents60+_primarycaregivers', '%owners65+costburdened', '%renters65+costburdened', 'foreignborn55+', '%foreignbornpop55+', '%65+speaknotenglish', '%65+notenglishdontspeakwelloratall']

10. 65+ Population in Poverty by County  
+ % of 65+ households living in poverty

In [470]:
#% 55+ households living in poverty
list55overinpoverty = [data['poverty_below_m_55to64'],data['poverty_below_m_65to74'],data['poverty_below_m_75+'],
                         data['poverty_below_f_55to64'],data['poverty_below_f_65to74'],data['poverty_below_f_75+']]
fifty5overinpoverty = sumlist(list55overinpoverty)
data['%55+hhinpoverty'] = percent(fifty5overinpoverty, data['55+'])

In [471]:
cols = ['poverty_sexbyage_total_series','poverty_below_m_55to64','poverty_below_m_65to74','poverty_below_m_75+','poverty_below_f_55to64', 
        'poverty_below_f_65to74','poverty_below_f_75+']
data = data.drop(columns = cols)

In [472]:
data.head()

,pop,u18,%u18,18to54,%18to54,55to64,%55to64,65to74,%65to74,75to84,%75to84,85+,%85+,55+,%55+,65+,%65+,%55+whitenothisplat,%55+minority,%55+white,%55+blackafricanamerican,%55+hisplatino,%55+nativeamericanotherormultiracial,%55+asianhawaiianpacisl,%hh65+_incomelessthan50000,medhhincome65+,renters55+,%55+renters,%55to59_homeowners,%60to64_homeowners,%65to74_homeowners,%75to84_homeowners,%85+_homeowners,livealone65+,livingwspouse65+,%grandparentsthatare60+,%grandparents60+_primarycaregivers,%owners65+costburdened,%renters65+costburdened,foreignborn55+,%foreignbornpop55+,%65+speaknotenglish,%65+notenglishdontspeakwelloratall,%55+hhinpoverty
0,6772268,1507890,22.27,3270393,48.29,886421,13.09,662653,9.78,324028,4.78,120883,1.78,1993985,29.44,1107564,16.35,82.85,17.15,83.91,12.86,1.72,2.05,1.17,53.07,42047,240004,19.93,75.28,78.74,82.22,84.36,77.4,293237,286037,50.45,21.82,19.39,47.22,68931,19.84,2.61,32.19,10.57

In [473]:
final = data.transpose()

In [474]:
final.head()

                  0
pop      6772268.00
u18      1507890.00
%u18          22.27
18to54   3270393.00
%18to54       48.29

In [476]:
final.to_csv('../data/mentalhealthamerica.csv', index = True)